<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">ALERTAS DEL SISTEMA</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarAlertas()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarAlertas()">
        <div class="tabla-responsiva"><table ng-table="tablaAlerta" class="table table-striped table-hover">
            <colgroup>
                <col width="20px" /><col width="60px" /><col width="20%" /><col width="20%" /><col width="auto"/><col width="60px" /><col width="65px" />
            </colgroup>
            <tr ng-repeat="f in $data">
                <td data-title="'N'" sortable="'i'">{{f.i}}</td>
                <td data-title="'Codigo'" sortable="'codigo'">{{f.alertaID}}</td>
                <td data-title="'Nombre'" sortable="'nombre'">{{f.nombre}}</td>
                <td data-title="'Accion'" sortable="'accion'">{{f.accion}}</td>
                <td data-title="'Descripcion'" sortable="'descripcion'">{{f.descripcion}}</td>
                <td data-title="'Tipo'" sortable="'tipo'" style="text-align: center">
                    <span class="label label-mini " ng-class="{'label-info': f.tipo=='I','label-warning': f.tipo=='A','label-danger':f.tipo=='E'}">{{f.tipo}}</span>
                </td>
                <td data-title="'Accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(f)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarAlerta(f.i,f.alertaID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " ng-click="prepararAgregar()"><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div></div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 500px">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{agregar?'NUEVA':'ACTUALIZAR'}} ALERTA</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Tipo</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="alerta.tipo" ng-value="'I'" ng-disabled="!agregar">informacion</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="alerta.tipo" ng-value="'A'" ng-disabled="!agregar">advertencia</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="alerta.tipo" ng-value="'E'" ng-disabled="!agregar">error</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 col-sm-2 control-label">Funcion</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="alerta.funcion" ng-change="cambiarModulo(alerta.funcion.subModuloID)" ng-options="f as f.nombre for f in funciones" ng-disabled="!agregar">
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Codigo</label>
                    <div class="col-sm-10">
                        <span type="text" class="form-control" style="width: 55px;display: inline-block">{{alerta.tipo=='I'?1:alerta.tipo=='A'?2:3}}-{{alerta.modulo}}</span> -
                        <input type="text" class="form-control" style="width: 45px;display: inline-block" ng-model="alerta.ID">
                        
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="alerta.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Accion</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="alerta.accion">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="alerta.descripcion"></textarea>
                    </div>
                </div>                
            </div>
        </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="mergeAlerta()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

