<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TIPO DE ORGANIZACION</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarTipoOrganizaciones()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body">

        <div class="tabla-responsiva"><table class="table table-striped table-hover" ng-init="listarTipoOrganizaciones()">
          <thead>
          <tr>
              <th style="width: 65px;">Codigo</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th style="text-align: center">Estado</th>
              <th style="width: 65px"></th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in tipoOrganizaciones">
                <td class="hidden-phone">{{t.codigo}}</td>
                <td class="hidden-phone">{{t.nombre}}</td>
                <td class="hidden-phone">{{t.descripcion}}</td>
                <td style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': t.estado=='A','label-warning': t.estado=='I'}">{{t.estado}}</span>
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar($index,t)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarTipoOrganizacion($index,t.tipoOrganizacionID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
          </tbody>

        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " ng-click="prepararAgregar()"><i class="fa fa-plus" ></i> Agregar</button>
            <button class="btn btn-danger " ng-click="eliminarTipoOrganizaciones()"><i class="fa fa-times" ></i> Eliminar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR TIPO ORGANIZACION</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Codigo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="tipoOrganizacionSel.codigo">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="tipoOrganizacionSel.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="tipoOrganizacionSel.descripcion"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="tipoOrganizacionSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="tipoOrganizacionSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Roles</label>
                    <div class="col-sm-10">
                        <div class="ms-container" id="ms-my_multi_select2">
                        <div class="ms-selectable">
                        <ul class="ms-list" tabindex="-1">
                            <li class="ms-optgroup-container" ng-repeat="r in rolesEdi"><ul class="ms-optgroup">
                                <li class="ms-elem-selectable" ng-click="seleccionarRol2($index)" ng-hide="r.ver"><span>{{r.nombre}}</span></li>
                            </ul></li>
                        </ul>
                        </div>
                        <div class="ms-selection">
                        <ul class="ms-list" tabindex="-1">
                            <li class="ms-optgroup-container" ng-repeat="r in rolesSelEdi"><ul class="ms-optgroup">
                                <li class="ms-elem-selection" ng-click="desSeleccionarRol2($index)"><span>{{r.nombre}}</span></li>
                            </ul></li>
                        </ul>
                        </div></div>
                    </div>
                </div>
                
                
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarTipoOrganizacion()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA ORGANIZACION</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Codigo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoTipoOrganizacion.codigo">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoTipoOrganizacion.nombre">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="nuevoTipoOrganizacion.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoTipoOrganizacion.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoTipoOrganizacion.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Roles</label>
                        <div class="col-sm-10">
                            <div class="ms-container" id="ms-my_multi_select2">
                            <div class="ms-selectable">
                            <ul class="ms-list" tabindex="-1">
                                <li class="ms-optgroup-container" ng-repeat="r in roles"><ul class="ms-optgroup">
                                    <li class="ms-elem-selectable" ng-click="seleccionarRol($index)" ng-hide="r.ver"><span>{{r.nombre}}</span></li>
                                </ul></li>
                            </ul>
                            </div>
                            <div class="ms-selection">
                            <ul class="ms-list" tabindex="-1">
                                <li class="ms-optgroup-container" ng-repeat="r in rolesSel"><ul class="ms-optgroup">
                                    <li class="ms-elem-selection" ng-click="desSeleccionarRol($index)"><span>{{r.nombre}}</span></li>
                                </ul></li>
                            </ul>
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarTipoOrganizacion()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

