<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">USUARIOS</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarUsuarios(usuMaster.organizacion.organizacionID)"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="iniciarDatos(usuMaster.organizacion.organizacionID);">
        
        <div class="tabla-responsiva"><table ng-table="tablaUsuario" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="12%" /><col width="150px" /><col width="auto" /><col width="23%" /><col width="18%"/><col width="80px" /><col width="100px" />
            </colgroup>   
            <tr ng-repeat-start="u in $data">
                <td data-title="'N'" sortable="'i'" >{{u.i}}</td>
                <td data-title="'Usuario'" filter="{ nombreUsuario: 'text'}" sortable="'nombreUsuario'" >{{u.nombreUsuario}}</td>
                <td data-title="'DNI'" filter="{ DNI: 'text'}" sortable="'DNI'" style="text-align: center">{{u.DNI}}</td>
                <td data-title="'Nombre'" filter="{ nombres: 'text'}" sortable="'nombres'" >{{u.nombres}}</td>                
                <td data-title="'Rol'" filter="{ rol: 'select'}" filter-data="rolesSelect" sortable="'rol'" style="text-align: center">
                    {{u.sessiones[0].rol}}
                </td>
                <td data-title="'Area'" filter="{ area: 'select'}" filter-data="areasSelect" sortable="'area'" style="text-align: center">
                    {{u.sessiones[0].area}}
                </td>
                <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosSelect " sortable="'estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': u.estado=='A','label-warning': u.estado=='I'}">{{u.estado}}</span>
                </td>
                <td data-title="'Accion'" style="text-align: center;">
                    <button ng-if="u.sessiones.length>1" class="btn btn-primary btn-xs" ng-click="u.$ver = !u.$ver" title="ver roles"><i class="fa" ng-class="{'fa-chevron-down': u.$ver,'fa-chevron-right': !u.$ver}"></i></button>
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(u)"><i class="fa fa-pencil" title="editar usuario"></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarUsuario(u.i,u.usuarioID)" title="eliminar usuario"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
            <tr ng-if="u.sessiones.length>1" ng-show="u.$ver" ng-repeat="s in u.sessiones" style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                <td colspan="4"><input type="hidden"></td>
                <td style="text-align: center">
                  {{s.rol}}
                </td>
                <td style="text-align: center">
                  {{s.area}}
                </td>
                <td data-title="'Estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': s.estado=='A','label-warning': s.estado=='I'}">{{s.estado}}</span>
                </td>
                <td ></td>
            </tr>
        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " ng-click="prepararAgregar()" ><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR USUARIO</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">DNI *</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="usuarioSel.DNI" disabled>
                    </div>
                    <label class="col-sm-2 control-label">Nombres *</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="usuarioSel.nombres" disabled>
                    </div>
                </div>
                <hr/>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Usuario</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="usuarioSel.nombreUsuario">
                    </div>
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="usuarioSel.password">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="usuarioSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="usuarioSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
                
                <div class="tabla-responsiva" style="max-height: 200px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                <table class="table peque" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th style="width:15px">#</th><th style="width:auto;">Area</th><th style="width:30%;">Rol</th><th style="width:60px">Estado</th><th style="width:55px">Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="s in usuarioSel.sessiones">
                        <td>{{$index +1}}</td>
                        <td>
                            <span ng-hide="s.edi" >{{s.area}}</span>
                            <span ng-show="s.edi" ><select class="form-control input-table" ng-model="s.copia.areaID" ng-options="a.areaID as a.nombre for a in areas"></select></span>
                        </td>
                        <td>
                            <span ng-hide="s.edi" >{{s.rol}}</span>
                            <span ng-show="s.edi" ><select class="form-control input-table" ng-model="s.copia.rolID" ng-options="r.rolID as r.nombre for r in roles"></select></span>
                        </td>
                        <td>
                            <span ng-hide="s.edi" class="label label-mini" ng-class="{'label-info': s.estado=='A','label-warning': s.estado=='I'}">{{s.estado}}</span>
                            <select ng-show="s.edi" class="form-control input-table" ng-model="s.copia.estado">
                                <option value="A">A</option>
                                <option value="I">I</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarSession($index,s)"><i class="fa" ng-class="{'fa-check':s.edi,'fa-pencil':!s.edi}" ></i></button>
                            <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!s.edi}" ng-click="eliminarSession($index,s)"><i class="fa" ng-class="{'fa-times':s.edi,'fa-trash-o':!s.edi}"></i></button>                          
                        </td>
                    </tr>                  
                    </tbody>
                </table>
                <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                    <tr>
                        <td style="width:15px">+</td>
                        <td style="width:auto">
                            <select class="form-control input-table" ng-model="session.areaID" ng-options="a.areaID as a.nombre for a in areas"></select>                                        
                        </td>
                        <td style="width:30%">
                            <select class="form-control input-table" ng-model="session.rolID" ng-options="r.rolID as r.nombre for r in roles"></select>
                        </td>
                        <td style="width:60px">
                        </td>
                        <td style="width:55px">
                            <button class="btn btn-success btn-xs" ng-click="agregarSession()" title="agregar session"><i class="fa fa-plus" ></i></button>
                        </td>
                    </tr>
                </table>                    
                </div>                
                
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarUsuario(usuMaster.organizacion.organizacionID)"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO USUARIO</h4>
      </div>
      <div class="modal-body">
                    
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">DNI *</label>
                        <div class="col-sm-10"><div class="input-group m-bot15">
                                <input type="text" class="form-control input-lg" ng-keyup="reiniciarDatos()" style="text-align: center;" data-mask="99999999" ng-model="nuevaPersona.dni" >
                            <span class="input-group-btn">
                              <button class="btn btn-success input-lg" type="button" ng-click="buscarPersona()">Verificar</button>
                            </span>
                        </div></div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombres *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaPersona.nombre" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">A Paterno *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.paterno" ng-disabled="nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">A Materno *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.materno" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Email *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaPersona.email" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Numero *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.numero1" ng-disabled="nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">Numero 2</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.numero2" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    
                    <h4>Informacion de Usuario</h4>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Usuario *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevoUsuario.nombre" disabled>
                        </div>
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevoUsuario.password" placeholder="opcional">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoUsuario.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoUsuario.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!nuevoUsuario.existe">
                        <label class="col-sm-2 control-label">Area</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevoUsuario.areaID" ng-options="a.areaID as a.nombre for a in areas">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!nuevoUsuario.existe">
                        <label class="col-sm-2 control-label">Rol *</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevoUsuario.rolID" ng-options="r.rolID as r.nombre for r in roles">                                
                            </select>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarUsuario(usuMaster.organizacion.organizacionID)" ng-disabled="nuevaPersona.dni=='' || nuevoUsuario.existe"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

