<table class="table table-bordered table-hover table-condensed">
    <colgroup ng-repeat="title in model.titles track by $index">
        <col width="{{100/model.titles.length}}" />
    </colgroup>
    <tr>
        <th ng-repeat="t in model.titles track by t.id">{{t.title}}</th>
    </tr>
    <tr>
        <td ng-repeat="t in model.titles track by t.id">
            <!--<div ng-switch="$index">
                <select ng-switch-when="0" class="form-control" ng-model="first"
                        ng-options="s as s.nom for s in model.data track by s.id" ng-change="showSecondLevel(first)"></select>
                <div style="max-height: 300px;overflow: auto;" ng-switch-default>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="p in showContent(t.id-1) track by $index" ng-click="showNext(p,t.id-1)">
                            <input type="checkbox" ng-model="p.selec"/>
                            <span>{{p.nom}}</span>
                            <span class="badge">{{nextArray(p).length}}</span>
                        </li>
                    </ul>
                </div>
            </div>-->
            <div ng-switch="$index">
                <div style="overflow-y: auto;" ng-switch-when="0">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="s in model.data track by s.id" ng-click="showSecondLevel(s)">
                            <span>{{s.nom}}</span>
                            <span class="badge">{{nextArray(s).length}}</span>
                        </li>
                    </ul>
                </div>
                <div style="max-height: 300px;overflow: auto;" ng-switch-default>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="p in showContent(t.id-1) track by $index" ng-click="showNext(p,t.id-1)">
                            <input type="checkbox" ng-model="p.selec"/>
                            <span>{{p.nom}}</span>
                            <span class="badge">{{nextArray(p).length}}</span>
                        </li>
                    </ul>
                </div>

            </div>
        </td>

    </tr>
</table>