
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">GENERAR DOCUMENTO</h4>
     
                <span class="tools pull-right">  
                        <button class="btn btn-primary" type="button" ng-click="iniciarDatos()"><i class="fa fa-rotate-right"></i> Listar </button>
                </span>
            </header>
           

            <div class="tabla-responsiva" ng-init="iniciarDatos()">
                <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="10%" />
                        <col width="30%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        
                    </colgroup>
                    <tr ng-repeat="o in $data">
                        <td data-title="'N'" style="text-align: center"  sortable="'i'" >{{o.i}} </td>
                        <td data-title="'Plantilla'" filter="{ descripcion: 'text'}" sortable="'descripcion'" 
                            style="text-align: center">{{o.descripcion}}
                        </td>
                        <td data-title="'Version'" filter="{ version: 'text'}" filter-data="versiones" 
                            sortable="'version'" style="text-align: center">{{o.version}}
                        </td>
                        <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" 
                            sortable="'estado'" style="text-align: center">
                            <span class="label label-mini" ng-class="{'label-info': o.estado,'label-warning': o.estado==2}">
                                {{o.estado==1?'Registrado':'Pendiente'}}
                            </span>
                        </td>
                        <td data-title="'Fecha'" sortable="'fecha'" style="text-align: center">{{o.fechaRegistro}}</td>
                        <td data-title="'Generar'" style="text-align: center">
                            <button class="btn btn-primary btn-xs" ng-class="{'disabled':o.estado==2}" ng-click="o.estado==1?generarDocumento(o):null">
                                <i class="fa fa-eye" ></i>
                            </button>
                        </td>
                      
                        <!--<button type="button" class="btn btn-success tools  pull-right" ng-click="vistaPreliminar()"><i class="fa fa-eye" ></i> Ver</button>-->
                        
                    </tr>
                </table>
            </div>
            
        </section>

    </div>

</div>


<div class="modal fade" id="modalGenerarDocumento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Generar Documento</h4>
                <br>
                <div>
                    <span class="tools  pull-left"><view-file url="{{nuevoDocumento.documento.url}}" nombre="nuevoDocumento.documento.nombreArchivo" archivo="nuevoDocumento.documento.archivo"> </view-file></span>
                <button type="button" class="btn btn-success tools  pull-right" ng-click="ver(true)"><i class="fa fa-eye" ></i> Ver</button>
       
                </div>
                     </div>
            <div class="modal-body" style="max-height: calc(100vh - 210px);overflow-y: auto;">
               <div class="form-panel">

                    <fieldset >
                        <legend>Paso #1:</legend>
                        <form class="form-horizontal">
                            <div class="form-group " >               
                                <label class="control-label col-sm-3" for="tipoPlantillaId">Tipo de Plantilla: </label>

                                <div class="col-sm-3" >
                                    <select class="form-control" ng-model="nuevoDocumento.tipoDoc" ng-options="tip.nombre for tip in tipoDocumentos track by tip.tipoDocumentoID" disabled="true"></select>
                                </div>
       
                            </div>
                            <div class="form-group" >               
                                <label class="control-label col-sm-3" for="descripcionPlantilla">Descripcion de Plantilla: </label>
                                <div class="col-sm-6">
                                    <input  class="form-control" size="40" type="text" id="descripcionPlantilla" ng-model="nuevoDocumento.descripcion" disabled="true">
                                </div>
                            </div>

                        </form>
                    </fieldset>

                    <fieldset>
                        <legend>Paso #2:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label">Letra:</label>
                                    <select class="form-control" ng-model="nuevoDocumento.contenidoPlantilla[0].nombreLetra" ng-options="tip.nomLetra for tip in letras" disabled="true">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label" >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="nuevoDocumento.contenidoPlantilla[0].size" disabled="true">

                                </div>
                                <div class="col-sm-4">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <br>

                                    <div class="btn-group" >
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[0].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqEnc()" disabled="true">
                                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[0].alineacion==alineacion[0]}" ng-click="botonAlineacionCenEnc()" disabled="true">
                                            <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[0].alineacion==alineacion[3]}" ng-click="botonAlineacionDerEnc()" disabled="true">
                                            <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[0].alineacion==alineacion[1]}" ng-click="botonAlineacionJusEnc()" disabled="true">
                                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="formatoId">Formato</label>
                                    <br>
                                    <div class="btn-group-sdc-2">
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[0].isBold==true}" ng-click="botonBoldEnc()" disabled="true">
                                            <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[0].isCursiva==true}" ng-click="botonCursivaEnc()" disabled="true">
                                            <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[0].isSubrayado==true}" ng-click="botonSubrayadoEnc()" disabled="true">
                                            <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group ">
                            <textarea class="form-control" rows="3" id="cabecera" ng-model="nuevoDocumento.contenidoPlantilla[0].contenido" ></textarea>
                        </div>

                    </fieldset>
                    <fieldset >
                        <legend>Paso #3:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                    <select class="form-control" ng-model="nuevoDocumento.contenidoPlantilla[1].nombreLetra" ng-options="tip.nomLetra for tip in letras" disabled="true">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label" >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="nuevoDocumento.contenidoPlantilla[1].size" disabled="true">

                                </div>
                                <div class="col-sm-4">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <br>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[1].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqCue()" disabled="true">
                                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[1].alineacion==alineacion[0]}" ng-click="botonAlineacionCenCue()" disabled="true">
                                            <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[1].alineacion==alineacion[3]}" ng-click="botonAlineacionDerCue()" disabled="true">
                                            <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[1].alineacion==alineacion[1]}" ng-click="botonAlineacionJusCue()" disabled="true">
                                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="formatoId">Formato</label>
                                    <br>
                                    <div class="btn-group-sdc-2">
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[1].isBold==true}" ng-click="botonBoldCue()" disabled="true">
                                            <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[1].isCursiva==true}" ng-click="botonCursivaCue()" disabled="true">
                                            <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[1].isSubrayado==true}" ng-click="botonSubrayadoCue()" disabled="true">
                                            <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group ">
                            <textarea class="form-control" rows="5" id="contenido" ng-model="nuevoDocumento.contenidoPlantilla[1].contenido"></textarea>
                        </div>

                    </fieldset>
                    <fieldset>
                        <legend>Paso #4:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                    <select class="form-control" ng-model="nuevoDocumento.contenidoPlantilla[2].nombreLetra" ng-options="tip.nomLetra for tip in letras" disabled="true">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label" >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="nuevoDocumento.contenidoPlantilla[2].size" disabled="true">

                                </div>
                                <div class="col-sm-4">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <br>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[2].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqDes()" disabled="true">
                                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[2].alineacion==alineacion[0]}" ng-click="botonAlineacionCenDes()" disabled="true">
                                            <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[2].alineacion==alineacion[3]}" ng-click="botonAlineacionDerDes()" disabled="true">
                                            <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[2].alineacion==alineacion[1]}" ng-click="botonAlineacionJusDes()" disabled="true">
                                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="formatoId">Formato</label>
                                    <br>
                                    <div class="btn-group-sdc-2">
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[2].isBold==true}" ng-click="botonBoldDes()" disabled="true">
                                            <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[2].isCursiva==true}" ng-click="botonCursivaDes()" disabled="true">
                                            <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : nuevoDocumento.contenidoPlantilla[2].isSubrayado==true}" ng-click="botonSubrayadoDes()" disabled="true">
                                            <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea  class="form-control" rows="3" id="despedida" ng-model="nuevoDocumento.contenidoPlantilla[2].contenido" ></textarea>
                        </div>

                    </fieldset>
                    <fieldset>
                        <legend>Imagenes:</legend>
                        <div class="form-group" >
                            <div class="col-sm-12">
                                <div class="tabla-responsiva" style="max-height: 230px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                       
                                    <table class="table" style="margin-bottom: 0;">
                                        <thead>
                                            <tr>
                                                <th style="width:15px">Ver</th>

                                                <th style="width:auto">Descripcion</th>
                                                <th style="width:30%;">Adjunto</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="d in imagenes">
                                                <td>
                                                    <div>
                                                        <label><input type="radio" name="optradio" ng-model="verImagen.verImagen" ng-value="d"></label>
                                                    </div>

                                                </td>    

                                                <td>
                                                    <span ng-hide="d.edi" >{{d.descripcion}}</span>
                                                    <span ng-show="d.edi" ><input ng-model="d.copia.descripcion"/></span>
                                                </td>
                                                <td style="word-break: break-all;">
<!--                                                    <span  class="tools  pull-left"><view-file url="{{plantillaEditada.documento.url}}" nombre="plantillaEditada.documento.nombreArchivo" archivo="plantillaEditada.documento.archivo"></view-file></span>-->
                                                    <span ng-hide="d.edi" ><view-file url="{{d.url}}" nombre="d.nombreArchivo" archivo="d.archivo" > </view-file></span>
                                                    <span ng-show="d.edi" ><input-file nombre="d.copia.nombreArchivo" archivo="d.copia.archivo"></input-file></span>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table></div>
                              
                            </div>
                        </div>
                    </fieldset>
                </div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="generar()">Generar</button>
            </div>
        </div>
    </div>
</div>

