<section class="panel" ng-show="main">
    <header class="panel-heading">
        <span>PLANTILLAS DE FICHAS DE EVALUACION</span>                      
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarPlantillas()"><i class="fa fa-rotate-right"></i> Actualizar</button>            
        </span>   
    </header>                                
    <div class="panel-body" ng-init="listarPlantillas()">                    
        <div class="tabla-responsiva"><table ng-table="tablaPlantillas" class="table table-striped table-hover" show-filter="true" >                        
            <tr ng-repeat="d in $data">
                <td data-title="'Codigo'" filter="{ placod: 'text'}" sortable="'placod'">{{d.placod}}</td>
                <td data-title="'Nombre'" filter="{ planom: 'text'}" sortable="'planom'">{{d.planom}}</td>
                <td data-title="'Tipo'" filter="{ platip: 'text'}" sortable="'platip'">{{d.platip}}</td>
                <td data-title="'Fec. Creacion'" filter="{ plafec: 'text'}" sortable="'plafec'">{{d.plafec}}</td>                
                <td data-title="'Acción'" style="text-align: center">
                        <button class="btn btn-primary btn-xs" uib-tooltip="Crear nueva version" ng-click="editarPlantilla(d.plaide)"><i class="fa fa-plus" ></i></button>
<!--                        <button class="btn btn-danger btn-xs" ng-click="eliminarPlantilla(d.plaide)"><i class="fa fa-trash-o"></i></button>-->
                        <button class="btn btn-success btn-xs" uib-tooltip="Visualizar Plantilla en Pdf" ng-click="visualizarPlantilla(d.plaide)"><i class="fa fa-eye" ></i></button>
                </td>                    
            </tr>
            </table>
        </div>
        <div class="modal-footer">
<!--            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i>Crear Plantilla</button>-->
            <button type="button" class="btn btn-success" ng-click="crearPlantilla(false, true)"><i class="fa fa-plus" ></i> Crear Plantilla </button>
        </div>
    </div>     
</section>

<!--Vista para crear una nueva plantilla-->
<section class="panel" ng-hide="main">
    <header class="panel-heading">
        <span align="center">
            <h3>PLANTILLA DE FICHA DE EVALUACION</h3>
        </span>        
    </header>
    <form name="plantillaForm" novalidate>
    <div class="panel panel-primary">        
            <div class="panel-heading">Datos de la Plantilla</div>
            <div class="panel-body">
                <div class="form-group" ng-class="{ 'has-error' : plantillaForm.nompla.$invalid && !plantillaForm.nompla.$pristine }">
                    <label>Nombre</label>
                    <input class="form-control" name="nompla" type="text" ng-model="plantilla.nombre" required>
                    <p ng-show="plantillaForm.nompla.$invalid && !plantillaForm.nompla.$pristine" class="help-block">Este campo es requerido.</p>
                </div>                

                <p class="form-group">
                    <label>Tipo</label>
                    <select class="form-control" ng-model="plantilla.tipo"  ng-options="tipPla.id as tipPla.nom for tipPla in tipoPlantillas" ng-disabled="disabled">            
    <!--                    <option value="" disabled selected>Tipo</option>-->
                    </select>
                </p>
            </div>        
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Configuracion de la Plantilla</div>
        <div class="panel-body">
        <uib-accordion close-others="false">
            <div ng-repeat="grupo in grupos">
                <div uib-accordion-group class="panel-success" is-open="true">
                    <uib-accordion-heading> 
    <!--                    {{grupo.gruNom}}  -->
                        <div class="row">
                            <div class="col-sm-9">
                                <span ng-hide="grupo.edi" >{{grupo.gruNom}}</span>
                                <span ng-show="grupo.edi" style="display:block"><textarea class="form-control" rows="1" style="display:block" ng-model="grupo.copia.gruNom"></textarea></span>
                            </div>
                            <div class="col-sm-2" style="text-align: center">
                                <div class="pull-right btn-group btn-group-xs" ng-click="$event.stopPropagation();$event.preventDefault();">
                                    <select class="form-control"  ng-show="grupo.edi" ng-model="grupo.copia.Tipo"  ng-options="tpo.tpoId as tpo.tpoDes for tpo in tipoGrupos">
                                        <option value="" disabled selected>Tipo</option>
                                    </select>
                                </div>                    
                            </div>
                            <div class="col-sm-1" style="text-align: center">
                                <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarGrupo($index);$event.stopPropagation();$event.preventDefault();"><i class="fa fa-trash-o"></i></button>
                                <button class="pull-right btn btn-primary btn-xs" ng-click="editarGrupo(grupo);$event.stopPropagation();$event.preventDefault();"><i class="fa" ng-class="{'fa-check':grupo.edi,'fa-pencil':!grupo.edi}" ></i></button>
                            </div>                            
                        </div>                        
                    </uib-accordion-heading>                
                    <div ng-repeat="indicador in grupo.indicadores">
                        <div uib-accordion-group class="panel-info">
                            <uib-accordion-heading>
                                <span ng-hide="indicador.edi" >{{indicador.indNom}}</span>
                                <span ng-show="indicador.edi" ><input ng-model="indicador.copia.indNom"/></span>    
                                <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarIndicador($index, grupo);$event.stopPropagation();$event.preventDefault();"><i class="fa fa-trash-o"></i></button>
                                <button class="pull-right btn btn-primary btn-xs" ng-click="editarIndicador(grupo, indicador);$event.stopPropagation();$event.preventDefault();"><i class="fa" ng-class="{'fa-check':indicador.edi,'fa-pencil':!indicador.edi}"></i></button>

                        </div>                    
                    </div>
                    <div class="row" style="margin: 10px 20px 10px 20px">
                        <div class="col-sm-11">
                            <textarea class="form-control" rows="1" ng-model="grupo.nuevoIndicador.indNom" name="" placeholder="Nombre del Indicador"></textarea>                            
                        </div>                       
    
                        <div class="col-sm-1" style="text-align: center">
                            <button class="btn btn-success btn-sm" ng-click="agregarIndicador(grupo)"><i class="glyphicon glyphicon-plus" ></i> Indicador </button>
                        </div>                        
                    </div>
                    <div id="choicesDisplay">                        
                    </div>
                </div>
            </div>            
            <div class="row" style="margin: 10px 10px 10px 10px">
                <div class="col-sm-9">
                    <textarea class="form-control" rows="1" ng-model="nuevoGrupo.gruNom" name="" placeholder="Nombre del Grupo"></textarea>
                </div>
                <div class="col-sm-2" style="text-align: center">
                    <select class="form-control" ng-model="nuevoGrupo.Tipo"  ng-options="tpo.tpoId as tpo.tpoDes for tpo in tipoGrupos" ng-disabled="disabled">            
<!--                        <option value="" disabled selected>Tipo</option>-->
                    </select>                    
                </div>
                <div class="col-sm-1" style="text-align: center">
                    <button class="btn btn-success btn-sm" ng-click="agregarGrupo()"><i class="glyphicon glyphicon-plus" ></i> Grupo </button>                
                </div>                    
            </div>            
        </uib-accordion>
        <div ng-show="advertenciaGrupo"><h6 style="color: lightcoral;">Ingrese al menos un grupo</h6></div>
    </div></div>
    
    <div class="modal-footer">
<!--            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i>Crear Plantilla</button>-->
        <button type="button" class="btn btn-warning" ng-click="crearPlantilla(true, true)"><i class="glyphicon glyphicon-arrow-left" ></i></button>
        <button type="button" class="btn btn-success" ng-disabled="verificarPlantilla(formPlantilla.$invalid)" ng-click="reportePlantilla(true)"><i class="glyphicon glyphicon-print" ></i></button>
        <button type="button" class="btn btn-primary" ng-disabled="verificarPlantilla(formPlantilla.$invalid)" ng-click="guardarPlantilla()"><i class="glyphicon glyphicon-floppy-disk" ></i></button>
    </div>
    </form>
    
</section>