<div class="row"><div class="col-lg-12" ng-init="update_bien_inmueble()">
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Bienes Inmuebles</h4>
        </header>
      <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">Inmuebles:</label>
                    <div class="col-sm-4">
                        <button class="" ng-click="reporte_bienes_inmuebles()"><i class="glyphicon glyphicon-print"></i></button>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-2">
                        <button class="btn btn btn-warning" data-toggle="modal" data-target="#modalnuevoAmbiente"><i class="fa fa-plus"> Agregar Ambientes</i></button>
                    </div>     
                    <div class=" col-md-offset-10">
                        <button class="btn btn btn-warning" data-toggle="modal" data-target="#modalDatosInmueble"><i class="fa fa-home"> Datos del Inmueble</i></button>
                    </div>          
                </div>
            </div>  
 
        </div>
      </div>

  </section>
    </div>
</div>

<!----- REGISTRAR NUEVO BIEN INMUEBLE ----->
        <!----- DATOS DEL INMUEBLE ----->

<div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">DATOS DEL INMUEBLE </h4>
    </header>
    <div class="panel-body" >
        <div class="form-horizontal style-form" >
            <div class="form-group">
                    <label class="col-sm-1 control-label">Direccion:</label>
                    <div class="col-sm-2">  
                        <select class="form-control" ng-options="dir.nombre for  dir in direccion" ng-model="lista.direccion"></select>   
                    </div>
                    <div class="col-sm-3">
                         <input type="text" class="form-control" ng-model="bien_inmueble.direccion" placeholder="Direccion">        
                    </div>
                    <label class="col-sm-1 control-label">Nro:</label>
                    <div class="col-sm-1">
                        <input type="number" min="1"  class="form-control" ng-model="bien_inmueble.nro">   
                    </div> 
                    <label class="col-sm-1 control-label">Mz:</label>
                    <div class="col-sm-1">
                        <input type="text" min="1"  class="form-control" ng-model="bien_inmueble.mz">   
                    </div>
                     <label class="col-sm-1 control-label">Lte:</label>
                    <div class="col-sm-1">
                        <input type="number" min="1"  class="form-control" ng-model="bien_inmueble.lt">   
                    </div>
            </div>
            <div class="form-group">
                 <label class="col-sm-2 control-label">Descripcion:</label>
                  <div class="col-sm-2">
                      <input type="text"   class="form-control" ng-model="bien_inmueble.descripcion" placeholder="Descripcion Inmueble"> 
                  </div>
                  <label class="col-sm-2 control-label">Departamento:</label>
                  <div class="col-sm-2">
                      <input type="text"   class="form-control" ng-model="bien_inmueble.departamento"> 
                  </div>
                  <label class="col-sm-2 control-label">Provincia:</label>
                  <div class="col-sm-2">
                      <input type="text"  class="form-control" ng-model="bien_inmueble.provincia"> 
                  </div>
                  <label class="col-sm-2 control-label">Distrito:</label>
                  <div class="col-sm-2">
                      <input type="text"   class="form-control" ng-model="bien_inmueble.distrito"> 
                  </div>  
            </div>
  
        </div>
    </div>      
</section>
</div>
        <!----- DETALLE TECNICO ----->
       <div class="col-lg-8">
            <section class="panel">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">DETALLE TECNICO </h4> 
                </header>
            <div class="panel-body" >
                <div class="form-horizontal style-form" >
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Propiedad:</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-options="pr.nombre for pr in propiedad" ng-model="lista.propiedad"></select>
                        </div>
                        
                        <label class="col-sm-3 control-label">Tipo Terreno:</label>
                        <div class="col-sm-3" ng-init="">
                            <select class="form-control" ng-options="pr.nombre for pr in tipo_terreno" ng-model="lista.tipo_terreno"></select>
                        </div>
                       
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Esta Saneado:</label>
                        <label class="col-sm-1 control-label">SI</label>
                        <div class="col-sm-1">
                             <input type="checkbox" class="form-control" ng-model="bien_inmueble.est_sanea" ng-value="true">   
                        </div>
                        
                        <label class="col-sm-1 control-label">Area</label>
                         <div class="col-sm-2">
                             <input type="number" class="form-control" ng-model="bien_inmueble.area">   
                        </div>
                        <label class="col-sm-1 control-label">UM.</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-options="um.nombre for um in unidades_metricas" ng-model="lista.um"></select>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Partida Electronica</label>
                        <div class="col-sm-2">
                             <input type="text" class="form-control" ng-model="bien_inmueble.part_elec">   
                        </div>
                        <label class="col-sm-2 control-label">Registro Sinabip</label>
                        <div class="col-sm-2">
                             <input type="text" class="form-control" ng-model="bien_inmueble.reg_sinabip">   
                        </div>
                        <label class="col-sm-2 control-label">Nro Ficha Registral</label>
                        <div class="col-sm-2">
                             <input type="text" class="form-control" ng-model="bien_inmueble.nro_fic_reg">   
                        </div>
                    </div>
                </div>  
            </div>
            </section>
       </div>
       <div class="col-lg-4">
           <div class="form-group" ng-init="mostar_ambientes(usuMaster.organizacion.organizacionID)">
                <div class="tabla-responsiva"><table ng-table="tabla_ambientes" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                    </colgroup>
                    <tr ng-repeat="o in $data">
                        <td data-title="'Nro.'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center">{{o.i}}</td>
                        <td data-title="'Descripcion'" filter="{ amb_des : 'text'}" sortable="'amb_des'" style="text-align: center">{{o.amb_des}}</td>
                        <td data-title="'Estado'" filter="{ amb_est : 'text'}" sortable="'amb_est'" style="text-align: center">{{o.amb_est}}</td>
                        <td data-title="'Accion'">
                           <button class="btn btn-primary btn-xs" ng-disabled="" ng-click="ElegirAmbiente(o)"><i class="fa fa-check" ></i></button>  
                        </td>        
                   </tr>  
                </table></div>
            </div>
            <div class="form-group">
                <div class=" col-md-offset-10">
                        <button class="btn btn btn-warning" ng-click="mostar_ambientes(usuMaster.organizacion.organizacionID)"><i class="fa fa-chain-broken">Deshacer</i></button>
                </div>   
            </div>
       </div>
        
       <div class="col-lg-12">
           <div class="col-sm-4"></div>
           <div class="col-sm-3">
               <button class="btn btn btn-warning" ng-click=""><i class="fa fa-warning">  Cancelar  </i></button>            
           </div>
           
           <div class="col-sm-4">    
               <button class="btn btn btn-warning" ng-click="registrar_bien_inmueble(usuMaster.usuario.ID,usuMaster.organizacion.organizacionID)"><i class="fa fa-plus"> Registrar  </i></button>
           </div>
       </div> 

<!-------------------------------------------->


<!----- REGISTRAR NUEVO AMBIENTE ----->

<div class="modal fade" id="modalnuevoAmbiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Registrar Ambiente</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-panel" ng-init="">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Descripcion:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="ambiente.descripcion">   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Ubicacion:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="ambiente.ubicacion">   
                                </div>
                            </div>
                            <div class="form-group" ng-init="">
                                
                                <label class="col-sm-2 control-label">Estado:</label>
                                <div class="col-sm-4" ng-init="">
                                  
                                    <select class="form-control" ng-options="co.cond_nom for co in condicion" ng-model="lista.condicion"></select>            
                                </div>
                                <label class="col-sm-2 control-label">Area:</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" ng-model="ambiente.area">   
                                </div>
                                 <label class="col-sm-1 control-label">M2.</label>
                            </div>
                            <div class="form-group" ng-init="">
                                <label class="col-sm-4 control-label">Institucion que Construyo :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="ambiente.inst_cons">   
                                </div>
                            </div>
                            <div class="form-group" ng-init="">
                                <label class="col-sm-4 control-label">Fecha de Construccion :</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" ng-model="ambiente.fec_cons">   
                                </div>
                                
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4">
                                       <button class="btn btn btn-warning"  data-dismiss="modal"><i class="fa fa-warning">Cancelar</i></button>
                                       <button class="btn btn btn-warning" ng-click="registrarAmbientes(usuMaster.usuario.ID,usuMaster.organizacion.organizacionID)"><i class="fa fa-save" >Registrar</i></button>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
                            
<!---------->


<!----- CONSULTAR AMBIENTES ----->

<div class="modal fade" id="modalConsultarAmbiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Consultar Ambientes</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-panel" ng-init="mostrarAmbientes()">
                            <div class="form-group">
                                <!----- TABLA DE  AMBIENTES ----->  
                                <div class="tabla-responsiva"><table ng-table="tabla_ambientes" class="table table-striped table-hover" show-filter="true" >
                                    <colgroup>
                                        <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                                    </colgroup>
                                <tr ng-repeat="o in $data">
                                    <td data-title="'Nro'" style="text-align: center">{{o.i}}</td>
                                    <td data-title="'Descripcion'" filter="{ amb_des : 'text'}" sortable="'amb_des'" style="text-align: center">{{o.amb_des}}</td>
                                    <td data-title="'Ubicacion'" filter="{ amb_ubi : 'text'}" sortable="'amb_ubi'" style="text-align: center">{{o.amb_ubi}}</td>
                                    <td data-title="'Estado'" filter="{ amb_est : 'text'}" sortable="'amb_est'" style="text-align: center">{{o.amb_est}}</td>
                                    <td data-title="'Accion'" style="text-align: center;">
                                    <button class="btn btn-primary btn-xs" ng-click="EditarItemCatalogo(o)"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs"  ng-click="EliminarItemCatalogo(o)"><i class="fa fa-trash-o"></i></button>                               
                                    </td>
                                    <td data-title="' '" style="text-align: center;">
                                         <input type="checkbox" class="form-control" ng-model=""> 
                                    </td>
                                </tr>   
                                </table></div>
                                <div class="form-group">
                                    <div class=" col-md-offset-10">
                                    <button class="btn btn btn-warning" ng-click="registrarItemsCatalogo()"><i class="fa fa-plus"> Aceptar </i></button>
                                    </div>          
                                </div>
                                <!------------------------------->
                                
                                
                            </div>           
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
</div>




  <!---------->      
  

<!----- REGISTRAR NUEVO AMBIENTE ----->


                            
<