<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Catalogo SBN</h4>
        </header>
      <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">Catalogo SBN :</label>
                    <div class="col-sm-4">
                        <button class="" ng-click="reporte_catalogo()"><i class="glyphicon glyphicon-print"></i></button>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-2">
                        <button class="btn btn btn-warning" data-toggle="modal" data-target="#modalnuevoitem"><i class="fa fa-plus"> Agregar Item</i></button>
                    </div>     
                    <div class=" col-md-offset-10">
                        <button class="btn btn btn-warning" data-toggle="modal" data-target="#modalNuevoPrestamo"><i class="fa fa-plus"> Acutalizar Catalogo</i></button>
                    </div>          
                </div>
            </div>  
 
        </div>
      </div>
        
        <!----- TABLA CATALOGO DE BIENES ----->
        <div class="panel-body" ng-init="mostrarCatalogo()">
            <div class="tabla-responsiva"><table ng-table="tabla_catalogo" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                </colgroup>
            <tr ng-repeat="o in $data">
                
                <td data-title="'Codigo Bien'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center">{{o.cod}}</td>
                <td data-title="'Descripcion Bien'" filter="{ den_bie : 'text'}" sortable="'den_bie'" style="text-align: center">{{o.den_bie}}</td>
                <td data-title="'Unidad de Medida'" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center">{{o.uni_med_nom}}</td>
              
                <td data-title="'Accion'" style="text-align: center;">
                   <button class="btn btn-primary btn-xs" ng-click="EditarItemCatalogo(o)"><i class="fa fa-pencil" ></i></button>
                   <button class="btn btn-danger btn-xs"  ng-click="EliminarItemCatalogo(o)"><i class="fa fa-trash-o"></i></button>  
                </td>
            </tr>   
            </table></div>
            <div class="form-group">
                    <div class=" col-md-offset-10">
                        <button class="btn btn btn-warning" ng-click="registrarItemsCatalogo()"><i class="fa fa-plus"> Registrar Bienes </i></button>
                    </div>          
            </div>
        </div>
        <!-------------------------------------------->
        
      
      
  </section>
    </div>
</div>


<!----- REGISTRAR NUEVO ITEM ----->

<div class="modal fade" id="modalnuevoitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Nuevo Item</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-panel" ng-init="">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Codigo:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="item_catalogo.cod" ng-disabled="true">   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Descripcion:</label>
                                <div class="col-sm-4">
                                    <textarea class="form-control" ng-model="item_catalogo.den_bie"></textarea>   
                                </div>
                            </div>
                        

                                <div class="form-group" ng-init="listarUnidadesMedida()">
                                <label class="col-sm-3 control-label">Unidad de Medida:</label>
                                <div class="col-sm-4" ng-init="">
                                    <select class="form-control" ng-model="item_catalogo.uni_med_id">
                                        <option value=""></option>
                                        <option ng-repeat="um in unidades_medida" value="{{um.uni_med_id}}">{{um.nom}}</option>
                                    </select>  
                                </div>
                            </div><div class="form-group">
                                <label class="col-sm-3 control-label">Grupo:</label>
                                <div class="col-sm-4" ng-init="listarGruposGenericos()">
                                    <select class="form-control" ng-model="item_catalogo.gru_gen_id" ng-change="listarClasesGenericas(item_catalogo.gru_gen_id)">
                                        <option value=""></option>
                                        <option ng-repeat="gg in grupos_genericos" value="{{gg.gru_gen_id}}">{{gg.nom}}</option>
                                    </select>  
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Clase:</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="item_catalogo.cla_gen_id" ng-change="listarFamiliasGenericas(item_catalogo.cla_gen_id)">
                                        <option value=""></option>
                                        <option ng-repeat="cg in clases_genericas" value="{{cg.cla_gen_id}}">{{cg.nom}}</option>
                                    </select>  
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Familia:</label>
                                <div class="col-sm-4" ng-init="">
                                    <select class="form-control" ng-model="item_catalogo.fam_gen_id" ng-change="cargar_codigo()">
                                        <option value=""></option>
                                        <option ng-repeat="fg in familias_genericas" value="{{fg.fam_gen_id}}">{{fg.nom}}</option>
                                    </select>  
                                </div>
                            </div>
                        
                        
                            <div class="form-group">
                                   <div class="col-md-4 col-md-offset-4">
                                       <button class="btn btn btn-warning"  data-dismiss="modal"><i class="fa fa-warning">Cancelar</i></button>
                                       <button class="btn btn btn-warning" ng-click="agregarItemCatalogo(item_catalogo,usuMaster.usuario)"><i class="fa fa-save" >Guardar</i></button>
                                   </div>
                            </div> 
                        
                         </div> 
                    </div>
                </div>
            </div>
        </div>
</div>

<!---------->


<div class="modal fade" id="modalNuevoPrestamo" ng-init="iniciar_datos_serie()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Nuevo Prestamo de Series Documentales</h4>
                   </div>
               </div>
               <div class="modal-body">
                    <div class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id. de Inventario de Serie :</label>
                            <label class="col-sm-4 control-label">{{inventario_transferencia.inv_tra_id}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Titulo de Serie Documental :</label>
                            <label class="col-sm-4 control-label">{{inventario_transferencia.serie}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Unidad Organica :</label>
                            <label class="col-sm-4 control-label">{{inventario_transferencia.un_org}}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">DATOS DEL SOLICITANTE :</label>           
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">DNI :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="inventario_transferencia.dni">   
                            </div>
                            <label class="col-sm-2 control-label">Fecha de Prestamo :</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="inventario_transferencia.fec_prestamo">   
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">NOMBRE :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="inventario_transferencia.nom">   
                            </div>
                            <label class="col-sm-2 control-label">Fecha de Devolucion :</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="inventario_transferencia.fec_dev">   
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observacion :</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" ng-model="inventario_transferencia.obs"></textarea>   
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-offset-8">
                                <button class="btn btn btn-warning" data-toggle="modal" data-target="#"><i class="fa fa-warning">Cancelar</i></button>
                                <button class="btn btn btn-warning" ng-click="registrar_prestamo()"><i class="fa fa-save" >Guardar</i></button>
                            </div>   
                        </div>
                       
                    </div>
               </div>
           </div>
            
        </div>       
        
    </div>







































<!----- IMPORTAR CATALOGO  ----->

<div class="modal fade" id="#modalcatalogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">             
                    <div class="form-group">          
                        <input-file nombre="catalogo_bienes.nombre" archivo="catalogo_bienes.archivo"></input-file></span>
                        <view-file nombre="catalogo_bienes.nombre" archivo="catalogo_bienes.archivo"></view-file></span>
                    </div>
   
                </div>
                
            </div>
        </div>
    
</div>


<!---------->
