<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            
                <uib-tabset active="active" >
                    
                    <!----- TAB 1 : REPORTES  ----->
                    <uib-tab index="0"  select="" >   
                        <uib-tab-heading >
                            Reportes                             
                        </uib-tab-heading>
                      
                    <div class="row">                            
                        <div class="col-lg-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                          <h4 style="display:inline;line-height: 1.9">POR ANEXO</h4>
                                    </header>
                                    <div class="panel-body">
                                        <div class="form-panel">
                                            <div class="form-horizontal style-form" >
                                                <div class="form-group">
                                                    <div class="col-sm-5">
                                                        <label class="control-label "> Fecha Apertura:</label>
                                                            <div class="input-group date form_datetime-component">                                                        
                                                                <input type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="libro.fechaApertura" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" ng-disabled="estado">
                                                                        <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open2()" ng-disabled="estado"><i class="fa fa-calendar"></i></button>
                                                                        </span>
                                                            </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <label class="control-label "> Fecha Cierre:</label>
                                                            <div class="input-group date form_datetime-component">                                                        
                                                                <input type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="libro.fechaApertura" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" ng-disabled="estado">
                                                                        <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open2()" ng-disabled="estado"><i class="fa fa-calendar"></i></button>
                                                                        </span>
                                                            </div>
                                                    </div>
                                                </div> 
                                                
                                                <div class="form-group">
                                                   <label class="col-sm-3 control-label">Tipo de Documento :</label>
                                                        <div class="col-sm-5">
                                                            <select class="form-control" ng-model="" ng-change="">
                                                                <option value=""></option>
                                                                <option ng-repeat="sd in series_documentales" value="{{}}">{{}}</option>
                                                            </select>
                                                        </div>
        
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </section>       
                        </div>
                        
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">ATRIBUTOS ESPECIFICOS</h4>
                                </header>
                                    <div class="panel-body">
                                        <div class="form-panel">
                                            <div class="form-horizontal style-form" >
                                                <div class="form-group">
                                                    <div class="col-sm-4">
                                                          <button class="btn btn btn-warning" ng-click=""><i class="fa fa-home">  AMBIENTE  </i></button>                  
                                                    </div>
                                                    <div class="col-sm-4">
                                                          <button class="btn btn btn-warning" ng-click=""><i class="fa fa-home">  BIEN PATRIMONIAL  </i></button>                  
                                                    </div>
                                                    <label class="col-sm-2 control-label">Estado:</label>
                                                    <div class="col-sm-2">
                                                        <select class="form-control" ng-model="" ng-change="">
                                                            <option value=""></option>
                                                            <option ng-repeat="sd in series_documentales" value="{{}}">{{}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">
                                                       <input type="text" class="form-control" ng-model="">   
  
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" ng-model="">   
                                                   </div>
                                                    
                                                </div>
                                                
    
                                            </div>
                                        </div>
                                    </div>
                            </section>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-sm-4">
                                <button class="btn btn btn-info" ng-click=""><i class="fa fa-file">  VER REPORTE  </i></button>                  
                            </div>
                        </div>
                    </div>
                            
                            
                            
                            
                        </div>
                    </div>
                        
            
                    </uib-tab>
                    
                     <!----- TAB 2 : DOCUMENTOS ADJUNTOS  ----->
                    <uib-tab index="1" select="">
                         <uib-tab-heading >
                            Documentos Adjuntos                            
                        </uib-tab-heading>
                        
                    </uib-tab>
                    
                    
                </uib-tabset>
        </section>
    </div>
</div>
