<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Verificacion Registros</h4>
        </header>
      <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">Altas :</label>
                    <label class="col-sm-1 control-label">{{cant_bienes.bienes_alta}}</label>
                    <div class="col-sm-1">
                        <button class="" data-toggle="modal" data-target="#modalmostrarAltas"><i class="glyphicon glyphicon-ban-circle"></i></button>
                    </div>
                    <label class="col-sm-2 control-label">Bajas :</label>
                    <label class="col-sm-1 control-label">{{cant_bienes.bienes_baja}}</label>
                    <div class="col-sm-1">
                        <button class="" data-toggle="modal"  data-target="#modalmostrarBajas"><i class="glyphicon glyphicon-alert"></i></button>
                    </div>
                    <label class="col-sm-2 control-label">Toma Inventario :</label>
                    <label class="col-sm-1 control-label">{{cant_bienes.bienes_inventario}}</label>
                    <div class="col-sm-1">
                        <button class="" ng-click="bienes_inventario()"><i class="glyphicon glyphicon-file"></i></button>
                    </div>
                </div>
                
                <div class="form-group" ng-init="mostrar_bienes_generales(usuMaster.organizacion.organizacionID)">
                    
                    <div class="tabla-responsiva"><table ng-table="tabla_bienes" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                    </colgroup>
                    <tr ng-repeat="o in $data">
                        <td data-title="'Nro.'" filter="{ cod: 'text'}" sortable="'i'" style="text-align: center">{{o.i}}</td>
                        <td data-title="'Codigo Patrimonial'" filter="{ cod_pat_bie : 'text'}" sortable="'cod_pat_bie'" style="text-align: center">{{o.cod_pat_bie}}</td>
                        <td data-title="'Descripcion del Bien'" filter="{ des_bie : 'text'}" sortable="'des_bie'" style="text-align: center">{{o.des_bie}}</td>
                        <td data-title="'Fecha de Registro'" filter="{ fec_reg : 'text'}" sortable="'fec_reg'" style="text-align: center">{{o.fec_reg}}</td>
                        <td data-title="'Estado'" filter="{ est_bien : 'text'}" sortable="'est_bien'" style="text-align: center">{{o.est_bien}}</td>
                        <td data-title="'Ubicacion'" filter="{ ubi_bien : 'text'}" sortable="'ubi_bien'" style="text-align: center">{{o.ubi_bien}}</td>
                        <td data-title="'Anexo'" filter="{ an_bien : 'text'}" sortable="'an_bien'" style="text-align: center">{{o.an_bien}}</td>
                        <td data-title="'Estado'" filter="{ verificar : 'text'}" sortable="'verificar'" style="text-align: center">
                            <span class="label label-mini" ng-class="{'label-info': o.verificar=='A','label-warning': o.verificar=='B'}">{{o.verificar}}</span>
                        </td>
                        <td data-title="'Accion'">
                           <button class="btn btn-primary btn-xs" ng-disabled="" ng-click="verificar_registro_bien(o,usuMaster.usuario.ID)"><i class="fa fa-check" ></i></button>
                           <button class="btn btn-danger btn-xs"  ng-click="ElimimarBienMueble(o)"><i class="fa fa-trash-o"></i></button>  
                        </td>  
  
                   </tr>  
                </table></div>
                </div>
            </div>
            
        </div>
      </div>
  </section>
    </div>
</div>


<div class="modal fade" id="modalmostrarAltas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Lista de Bienes Muebles de la Institucion </h4>
                   </div>
               </div>
               <div class="modal-body">
                   <div class="form-horizontal style-form" >
                       <div class="form-group" ng-init="mostrar_bienes_alta(usuMaster.organizacion.organizacionID)">
                            <div class="tabla-responsiva">
                                <table ng-table="tabla_altas" class="table table-striped table-hover">
                                    <tr ng-repeat="o in $data">
                                        <td data-title="'Codigo Patrimonial'" filter="{cod_bie: 'number'}" sortable="'cod_bie'">{{o.cod_pat_bie}}</td>
                                        <td data-title="'Desc. Bien'" filter="{des_bie : 'text'}" sortable="'des_bie'">{{o.des_bie}}</td>
                                        <td data-title="'Causal Alta'" filter="{cau_alt : 'text'}" sortable="'cau_alt'">{{o.cau_alt}}</td>
                                        <td data-title="'Estado'" filter="{estado 'text'}" sortable="'estado'">{{o.estado}}</td>                                  
                                    </tr>
                                </table>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
</div>
  

<div class="modal fade" id="modalmostrarBajas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Lista de Bienes Muebles de la Institucion </h4>
                   </div>
               </div>
               <div class="modal-body">
                   <div class="form-horizontal style-form" >
                       <div class="form-group" ng-init="mostrar_bienes_baja(usuMaster.organizacion.organizacionID)">
                            <div class="tabla-responsiva">
                                <table ng-table="tabla_bajas" class="table table-striped table-hover">
                                    <tr ng-repeat="o in $data">
                                        <td data-title="'Codigo Patrimonial'" filter="{cod_pat_bie 'number'}" sortable="'cod_pat_bie'">{{o.cod_pat_bie}}</td>
                                        <td data-title="'Desc. Bien'" filter="{des_bie : 'text'}" sortable="'des_bie'">{{o.des_bie}}</td>
                                        <td data-title="'Causal Baja'" filter="{cau_baj : 'text'}" sortable="'cau_baj'">{{o.cau_baj}}</td>
                                        <td data-title="'Estado'" filter="{estado 'text}" sortable="'estado'">{{o.estado}}</td>                                  
                                    </tr>
                                </table>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
</div>

