<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CONTROL DE ASISTENCIA</h4>
            </header>

            <div class="panel form-group col-lg-12" ng-init="iniciarDatos()">

                <br>
                <div class="form-group" ng-if="!control" style="text-align:center">
                        <h2><span class="label label-warning">VERIFICAR LIBRO DE ASISTENCIA</span></h2>
                        
                </div>
                <br>
                <div class="form-horizontal  col-lg-6">

                    
                    
                    <div class="form-group" >
                        <label class="col-sm-4 control-label">DNI *</label>
                        <div class="col-sm-8">
                            <!--<div class="input-group m-bot15">-->
                                <input type="text" class="form-control input-lg" ng-disabled="!control" ng-keyup="reiniciarDatos($event)" ng-keydown="verificarDni($event)" style="text-align: center;" ui-mask="99999999"  ng-model="trabajador.dni" >
<!--                                <span class="input-group-btn">
                                    <button class="btn btn-success input-lg" ng-disabled="!control" type="button" >Verificar</button>
                                </span>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-4 control-label">Nombres *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="trabajador.nombre" disabled="true">
                        </div>

                    </div>
                    <div class="form-group" >
                        <label class="col-sm-4 control-label">A Paterno *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="trabajador.paterno" disabled="true">
                        </div>

                    </div>
                    <div class="form-group" >
                        <label class="col-sm-4 control-label">A Materno *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="trabajador.materno" disabled="true">
                        </div>
                    </div>
                </div>  
                <div class="col-lg-1"></div>
                <div class="form-horizontal form-group col-lg-5">

                    <canvas id="clock" width="400" height="200"></canvas>


                </div>
            </div>

            <div class="form-group panel col-lg-12">
                <br> 
                <div class="col-lg-3">
<!--                    <label>
                        <input type="radio" ng-model="estadoRegistro" value="0">
                        Ingreso
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="estadoRegistro" value="1">
                        Salida
                    </label><br/>-->
                </div>
                <div class="col-lg-3 ">

                    <button class="btn  btn-success btn-lg" ng-disabled="!control" ng-click="marcarAsistencia()">MARCAR</button>
                </div>
                <div class="col-lg-6">
                    <div class="tabla-responsiva">
                        <table ng-table="miTabla" class="table table-striped table-hover"  >
                            <colgroup>
                                <col width="10%" />
                                <col width="30%" />
                                <col width="30%" />
                                <col width="40%" />

                            </colgroup>
                            <tr ng-repeat="o in $data">

                                <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                                <td data-title="'Ingreso'"   style="text-align: center">
                                    {{o.ingreso}}
                                </td>

                                <td data-title="'Salida'" style="text-align: center">
                                    {{o.salida}}
                                </td>
                                <td data-title="'Estado'" style="text-align: center">
                                    <span class="label label-mini" ng-class="{'label-info': o.estado == 1,'label-warning': o.estado == 2,'label-danger': o.estado == 3}">
                                        {{o.estado==1?'Asistio':o.estado==2?'Tardanza':'Otros'}}
                                    </span>
                                </td>

                               


                            </tr>
                        </table>
                    </div>

                </div>

            </div>
        </section>

    </div>

</div>

