<div class="modal fade">
    <div class="modal-dialog " style="width:35">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
                    <span class="label label-warning tools pull-right">Haga doble click la fila para seleccionarla</span>
            </div>
            <div class="modal-body" >
                <div class="form-panel">
                    <form class="form-horizontal " method="get">                          
                                        
                       <div class="form-group col-lg-8 ">
                         <div class="input-group ">
                             <div ng-if="search">
                             <input type="text" class="form-control input-sm m-bot15" placeholder="Buscar trabajador" ng-model="tablaTrabajadores.filter().dni">
                             </div>
                             <div ng-if="!search">
                             <input type="text" class="form-control input-sm m-bot15" placeholder="Buscar trabajador" ng-model="tablaTrabajadores.filter().datos">
                             </div>
                             <div class="input-group-addon "><i class="fa fa-search"></i></div>                            
                         </div>      
                       </div>
                        
                        <div class="form-group col-lg-4">
                                       

                                        <div class=" icheck minimal">
                                            <div class="radio"  >
                                                <label>
                                                    <input type="radio"  ng-model="search" ng-value="true" checked>
                                                     DNI
                                                </label>
                                            </div>
                                           <div  class="radio" >
                                               <label>
                                                   <input type="radio" ng-model="search"  ng-value="false">
                                                    Datos                                                                                                   
                                                 </label>
                                             </div>  
                                        </div>
                        </div>
                        
                        <div class="form-group "> <label></label> </div>
                            
                        <div class="form-group ">     
                                    <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover   "  ng-table ="tablaTrabajadores" show-filter="false"  >
                                        <tr>
                                            <th style="text-align:left">Número DNI</th>
                                            <th style="text-align:left">Datos Personales</th>
                                            <th style="text-align: center">Tipo Trabajador</th>
                                        </tr>
                                         <tr ng-repeat="sm in $data " ng-dblclick="setClickedRow(sm)">
                                            <td filter="{ dni: 'text' }" style="width: 65px;text-align:left">
                                                {{sm.dni}}
                                            </td>
                                            <td  filter="{ datos: 'text' }" style="width: 170px;text-align:left">
                                                {{sm.datos}}
                                            </td>
                                             <td  style="width: 50px;text-align:center">
                                                {{sm.cargo}}
                                            </td>                                                                                    
                                                                                    
                                        </tr>
                                    </table>
                                </div>   
                                    </div>

                             
                        </div>
                        
                      
                        
                                                                
                    </form>
                </div>
            </div>
      <div class="modal-footer">
           
      </div>
        </div>
    </div>
</div>       