<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <uib-tabset active="active" >
                <uib-tab index="0"  select="" >   
                    <uib-tab-heading >
                        Libro Caja                             
                    </uib-tab-heading>

                    <div class="row">                            
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">

                                        <div class="panel-body">
                                            <form class="form-horizontal " method="get">  

                                                <div class="form-group col-lg-12" >
                                                    <button class="btn btn-primary " ng-click="agregarLibro()" ng-disabled="estadoA">Agregar Libro <i class="fa fa-plus" ></i> </button>
                                                </div>                                                   

                                                <div class="form-group ">   
                                                    <div class="col-lg-12" >
                                                        <label class="control-label "> Descripcion: </label>                                                                                                                   
                                                        <input type="text" class="form-control input-sm m-bot15"   ng-model="libro.nombre" ng-disabled="estado">                                                        
                                                    </div>
                                                </div> 

                                                <div class="form-group">
                                                    <div class="col-xs-6 col-md-3" >
                                                        <label class="control-label "> Efectivo:</label>                                                   
                                                        <button class="btn btn-warning btn-sm "  data-toggle="modal" data-target="#modalCuentasEfectivo" ng-disabled="estadoLibro"> <i class="fa fa-plus" ></i> </button>
                                                    </div>


                                                    <div class="col-xs-6 col-md-3" >
                                                        <label class="control-label "> Estado:</label>                                                       
                                                        <span class=" badge ng-binding " ng-class="{'bg-important':libro.estado == 'I','bg-green':libro.estado == 'A','bg-blue':libro.estado == 'C','bg-black':libro.estado == 'N'}" style="font-size: 180%; top: 15px" ng-disabled="estadoLibro">{{libro.estado}} </span>                                                                                                                                        
                                                    </div> 

                                                    <div class="col-xs-12 col-md-6" >
                                                        <label class="control-label "> Saldo: </label>   
                                                        <div class="text-center ">
                                                            <span  class="form-control input-sm m-bot15 " ng-disabled="estado"> {{libro.saldoActual|currency:'S/ ' :2 }}</span>
                                                        </div>
                                                    </div>



                                                </div> 


                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <label class="control-label "> Fecha Apertura:</label>
                                                        <div class="input-group date form_datetime-component">                                                        
                                                            <input type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="libro.fechaApertura" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" ng-disabled="estado">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open2()" ng-disabled="estado"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <label class="control-label "> Fecha Cierre:</label>
                                                        <div class="input-group date form_datetime-component">                                                        
                                                            <input type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="libro.fechaCierre" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close" ng-disabled="estado">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open1()" ng-disabled="estado"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>




                                                <label class="control-label small"> Observación: </label>                                                                                   
                                                <textarea  class="form-control input-sm m-bot15 "  ng-model="libro.observacion" ng-disabled="estado"></textarea>


                                            </form>


                                            <div class="panel-footer " style="background-color:  white">
                                                <div class="form-group" >

                                                    <div class="pull-right" ng-show="libro.estado === 'C' || libro.estado === 'N'">
                                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>

                                                        <button type="button" class="btn btn-warning btn-sm" ng-click="registrarLibro()" ng-disabled="estado">Crear Libro </button>

                                                    </div>
                                                </div>

                                            </div>
                                    </section>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            <a>Datos del Tesorero y/o responsables del libro caja I.E.</a>

                                        </header>
                                        <div class="panel-body">
                                            <form class="form-horizontal " method="get">  
                                                <div class="form-group">

                                                    <div class="col-lg-5">
                                                        <label class="control-label"> DNI: </label>
                                                        <div class="input-group m-bot15 ">  
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-primary btn-sm" ng-click="showBuscarTrabajador()" ng-disabled="estadoT"><i class="glyphicon glyphicon-user" ></i></button></span>
                                                            <input type="text" class="form-control input-sm m-bot15 " placeholder="" ng-model="tesorero.personaID"  ng-disabled="estadoT">                                                                           
                                                        </div> 
                                                    </div>

                                                    <div class="col-lg-7">
                                                        <label class="control-label"> Nombres y Apellidos: </label>
                                                        <input type="text" class="form-control  input-sm m-bot15" ng-model="tesorero.datos" ng-disabled="estadoT"> 
                                                    </div>
                                                </div>




                                                <div class="form-group" >
                                                    <div class="col-lg-5">

                                                        <label class="control-label "> Fecha inicio:</label>
                                                        <div class="input-group date form_datetime-component" >                                                        
                                                            <input type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="tesorero.fechaInicio" is-open="popup3.opened" datepicker-options="dateOptions"  close-text="Close" ng-disabled="estadoT">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open3()" ng-disabled="estadoT"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-5">

                                                        <label class="control-label "> Fecha fin actividad:</label>
                                                        <div class="input-group date form_datetime-component" style="z-index: 1001" >                                                        
                                                            <input type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="tesorero.fechaCierre" is-open="popup4.opened" datepicker-options="dateOptions"  close-text="Close" ng-disabled="estadoT">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open4()" ng-disabled="estadoT"><i class="fa fa-calendar"></i></button>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>





                                                <div class="form-group ">
                                                    <div class="col-lg-5">
                                                        <label class="control-label"> N° R.D. </label>
                                                        <input type="text" class="form-control  input-sm m-bot15" ng-model="tesorero.rd" ng-disabled="estadoT"> 
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label class="control-label"> Doc. Adjunto </label>
                                                        <button ng-hide="tesorero.doc.edi" class="btn btn-primary btn-xs" ng-click="agregarDoc()" ><i class="fa fa-plus" ></i></button>
                                                        <button ng-show="tesorero.doc.edi"  class="btn btn-warning btn-xs" ng-click="borrarDoc()" ><i class="fa fa-times" ></i></button>

                                                        <!-- <input-file archivo="tesorero.documento" class="ng-isolate-scope">
                                                             <input type="file" class="mi-input " onchange="angular.element(this).scope().cambiarMiArchivo(this)" ng-model="tesorero.doc" ng-disabled="estadoT">
                                                             <span class="ng-binding"></span></input-file> -->
                                                        <div >
                                                            <input-file ng-hide="tesorero.doc.edi"  nombre archivo="tesorero.doc.archivo" ></input-file>
                                                            <view-file  ng-show="tesorero.doc.edi"  nombre="tesorero.doc.archivo.name"  archivo="tesorero.doc.archivo" > </view-file>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="form-group  col-lg-12">      

                                                    <div class="pull-right">
                                                        <button class="btn btn-success btn-sm" ng-click="agregarTesorero()" ng-disabled="estadoT">Agregar <i class="fa fa-plus-circle"> </i></button>
                                                    </div>


                                                    <div class="form-group">

                                                        <table class="table table-striped" ng-disabled="estadoT">
                                                            <thead>
                                                                <tr>  


                                                                    <th>Datos</th>
                                                                    <th>Fecha Inicio</th>
                                                                    <th>Fecha fin</th>
                                                                    <th>Nro RD.</th>
                                                                    <th>Doc.</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="c in listaTesoreros">


                                                                    <td>{{c.datos}}</td>
                                                                    <td>{{c.fechaInicio| date:'dd/MM/yyyy'}} </td>
                                                                    <td>{{c.fechaCierre| date:'dd/MM/yyyy' }} </td>
                                                                    <td>{{c.rd}} </td>
                                                                    <td style="text-align: center"> 

                                                            <view-file-icono  url="{{c.url}}" nombre="c.nomDocAdj"  > </view-file-icono>

                                                            </td>

                                                            </tr>
                                                            </tbody>
                                                        </table>


                                                    </div>



                                                </div>


                                            </form>
                                        </div>

                                    </section>

                                </div>
                            </div>


                        </div>
                    </div>


                </uib-tab>

                <uib-tab index="1" select="listarLibroCaja()">  
                    <uib-tab-heading >
                        Registro Libros Caja I.E.
                    </uib-tab-heading>

                    <div class="row" >
                        <div class="col-lg-12">
                            <section class="panel">
                                <!--<header class="panel-heading" style="overflow: inherit">
                                  
                                   </header> -->
                                <div class="panel-body" ng-init="listarCuentas()">
                                    <div class="adv-table editable-table ">


                                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div id="editable-sample_length" class="dataTables_length">
                                                        <label>
                                                            <select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall">
                                                                <option value="5" selected="selected">5</option>
                                                                <option value="15">15</option>
                                                                <option value="20">20</option>
                                                                <option value="-1">All</option>
                                                            </select> 
                                                            records per page
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="dataTables_filter" id="editable-sample_filter">
                                                        <label>
                                                            Search: 
                                                            <input type="text" aria-controls="editable-sample" class="form-control medium" placeholder="Buscar por año" ng-model="tablaLibros.filter().year">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered "  ng-table ="tablaLibros" show-filter="false">
                                                    <tr ng-repeat="sm in $data" >

                                                        <td data-title="'#'" style="width: 30px;text-align:left">
                                                            {{sm.i + 1}}
                                                        </td>
                                                        <td data-title="'Año'" filter="{ year :'text' }" style="width: 30px;text-align:left">
                                                            {{sm.fechaA| date:'yyyy'}}
                                                        </td>
                                                        <td data-title="'Descripción'" filter="{ descripcion :'text' }" style="width: 200px;text-align:left">
                                                            {{sm.descripcion}}
                                                        </td>
                                                        <td data-title="'Director I.E.'" style="width: 200px;text-align:left">
                                                            {{sm.director}}
                                                        </td>
                                                        <td data-title="'Fecha Apertura'" style="width: 50px;text-align:center">
                                                            {{sm.fechaA| date:'dd/MM/yyyy'}}
                                                        </td>
                                                        <td data-title="'Fecha Cierre'" style="width: 50px;text-align:center">
                                                            {{sm.fechaC| date:'dd/MM/yyyy'}}
                                                        </td>

                                                        <td data-title="'Saldo Inicial'" style="width: 50px;text-align:center">
                                                            {{sm.saldoI}}
                                                        </td>
                                                        <td data-title="'Saldo Final'" style="width: 50px;text-align:center">
                                                            {{sm.saldoA}}
                                                        </td>


                                                        <td data-title="'Estado'" style="text-align: center;width:45px">
                                                            <span class="label label-mini" ng-class="{'label-info': sm.estado == 'A','label-success': sm.estado == 'I','label-warning': sm.estado == 'C'}">{{sm.estado}}</span>
                                                        </td>


                                                    </tr>
                                                </table>
                                            </div>    
                                            <!--   <div class="row">
                                                   <div class="col-lg-6">
                                                       <div class="dataTables_info" id="editable-sample_info">
                                                           Showing 1 to 5 of 28 entries
                                                       </div>

                                                   </div>
                                                   <div class="col-lg-6">
                                                       <div class="dataTables_paginate paging_bootstrap pagination">
                                                           <ul>
                                                               <li class="prev disabled">
                                                                   <a href="#">← Prev</a>
                                                               </li><li class="active">
                                                                   <a href="#">1</a>
                                                               </li>
                                                               <li>
                                                                   <a href="#">2</a>
                                                               </li>
                                                               <li><a href="#">3</a>
                                                               </li>
                                                               <li><a href="#">4</a>
                                                               </li>
                                                               <li><a href="#">5</a>
                                                               </li>
                                                               <li class="next"><a href="#">Next → </a>
                                                               </li>
                                                           </ul>
                                                       </div>
                                                   </div>
                                               </div> -->
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                </uib-tab>
                <uib class=" pull-right" >


                    <div class=" btn-group pull-right col-lg-12" style="top: 10px">

                        <a data-toggle="dropdown" class="fa fa-cog " ></a>

                        <ul role="menu" class="dropdown-menu " >
                            <li><a href="#"><i class="fa fa-edit"> </i> Descargar Libro </a></li>                                         
                            <li><a href="#"><i class="fa fa-print"> </i> Imprimir </a></li>

                        </ul>                                
                    </div>

                </uib>
            </uib-tabset> 

        </section>
    </div>
</div>


<div class="modal fade" id="modalCuentasEfectivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="max-width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">REGISTRO DE CUENTAS EFECTIVO</h4>
            </div>
            <div class="modal-body">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >

                        <div class="form-group ">     
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Número</th>
                                                <th>Nombre</th>
                                                <th style="width: 90px;text-align:center">Importe</th>
                                                <th  style="width: 10px;text-align:center">Añadir</th>
                                                <th  style="width: 10px;text-align:left">Banco</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sm in tablaCuentaEfectivo" >
                                                <td  style="width: 65px;text-align:left">
                                                    {{sm.numero}}
                                                </td>
                                                <td  style="width: 150px;text-align:left">
                                                    {{sm.nombre}}
                                                </td>
                                                <td  style="width: 90px;text-align:center">
                                                    <input type="number" step="0.01" class="form-control input-table" ng-model="sm.importe" ng-disabled="!sm.flag" >

                                                </td>    
                                                <td  style="width: 10px;text-align:center">
                                                    <input type="checkbox" ng-model="sm.flag" >

                                                </td>  
                                                <td  style="width: 10px;text-align:left">
                                                    <button ng-show="sm.subClase === '1'" type="button" class="btn btn-primary btn-xs"  ng-click="agregarBanco(sm)" ng-disabled="!sm.flag"><i class="fa  fa-plus-square"></i></button>                        


                                                </td>  

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>   
                            </div>


                        </div>

                        <div class="form-group " ng-show="contenido">     
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <h4>Estado de Efectivo Libro Anterior</h4>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 40px;text-align:left">Número</th>
                                                <th style="width: 150px;text-align:left">Nombre</th>
                                                <th style="width: 70px;text-align:right">Importe</th>
                                                <th  style="width: 150px;text-align:center">Banco</th>
                                                <th  style="width: 100px;text-align:left">N° Cta.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sm in libroA" >
                                                <td  style="width: 40px;text-align:left">
                                                    {{sm.numero}}
                                                </td>
                                                <td  style="width: 150px;text-align:left">
                                                    {{sm.nombre}}
                                                </td>
                                                <td  style="width: 70px;text-align:right">
                                                    {{sm.importe|currency:'S/ ' :2}}

                                                </td> 

                                                <td ng-show="sm.flag" style="width: 150px;text-align:center">
                                                    {{sm.banco}}

                                                </td>  
                                                <td ng-show="sm.flag" style="width: 100px;text-align:left">
                                                    {{sm.numeroCuenta}}                                               
                                                </td>  

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>   
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer" ng-show="libro.estado === 'C' || libro.estado === 'N'">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="agregarCuentasEfectivo(tablaCuentaEfectivo)" ><i class="fa fa-check" ></i>Agregar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalNuevoBanco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:350px; top:100px;  ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">REGISTRO DE BANCO</h4>
            </div>
            <div class="modal-body">

                <div class="form-panel">
                    <div class="form-horizontal " >
                        <div class="form-group ">
                            <label class="col-sm-4  control-label "> Entidad Bancaria: 
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm m-bot15" ng-model="cuentaBancaria.entidadID" ng-options="banco.entidadID as banco.nombre for banco in listaBancos" >
                                    <option value="">Seleccionar</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group " >
                            <label class="col-sm-4 control-label">Numero de Cuenta
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="cuentaBancaria.numeroCuenta" >
                            </div>
                        </div>                  

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning btn-xs" ng-click="registrarBanco()" ><i class="fa fa-check" ></i>Añadir</button>
            </div>
        </div>
    </div>
</div>
