<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading" style="overflow: inherit">
            CUENTAS CONTABLES 
            <div class=" btn-group pull-right" >
               
                <a data-toggle="dropdown" class="fa fa-cog " ></a>
               
                <ul role="menu" class="dropdown-menu " >
                <li><a href="#"><i class="fa fa-edit"> </i>Cuenta Mayor</a></li>
                <li><a href="#"><i class="fa fa-folder-open"> </i> Importar Cuentas</a></li>                        
                <li><a href="#"><i class="fa fa-print"> </i> Imprimir Plan</a></li>
                               
                </ul>
                
                
            </div>
            </header>
            <div class="panel-body" ng-init="listarCuentas()">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group" >
                            <button class="btn btn-primary" ng-click="showNuevaCuenta()"><i class="fa fa-plus" ></i> Agregar Cuenta Contable </button>
                        </div>
                   
                    </div>
                    
                    <div class="space15"></div>
                    <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="editable-sample_length" class="dataTables_length">
                                    <label>
                                        <select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall"  ng-model="tablaCuentas.parameters().count" >                                           
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            
                                        </select> 
                                        registros por pág.
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="dataTables_filter" id="editable-sample_filter">
                                    <label>
                                        Buscar: 
                                        <input type="text" aria-controls="editable-sample" class="form-control medium" ng-model="globalSearchTerm" ng-change="applyGlobalSearch(globalSearchTerm)">
                                    </label>
                                </div>
                            </div>
                        </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered "  ng-table ="tablaCuentas" >
                             <tr ng-repeat="sm in $data |filter :searchData ">
                               
                                <td data-title="'Número'" style="width: 65px;text-align:left">
                                    {{sm.numero}}
                                </td>
                                <td data-title="'Nombre'" style="width: 170px;text-align:left">
                                    {{sm.nombre}}
                                </td>
                                 <td data-title="'Tipo'" style="width: 50px;text-align:center">
                                    {{sm.tipo}}
                                </td>
                                <td data-title="'Encabezado'"  style="width: 50px;text-align:center">
                                    {{flag(sm.encabezado)}}
                                </td>
                                <td data-title="'Efectivo'" style="width: 50px;text-align:center">
                                    {{flag(sm.efectivo)}}
                                </td>
                                                                
                                <td data-title="'Estado'" style="text-align: center;width:45px">
                                    <span class="label label-mini" ng-class="{'label-info': sm.estado=='A','label-warning': sm.estado=='I'}">{{sm.estado}}</span>
                                </td>
                                
                                <td data-title="'accion'" style="text-align: center;width: 70px">
                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(sm)"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs" ng-click="eliminarCuenta($index,sm.cuentaContableID)"><i class="fa fa-trash-o " ></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>    
                     
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
