<div class="row">   
    <div class="col-lg-12">
        <section class="panel">
             <header class="panel-heading" style="overflow: inherit ">
                
              
            <div class="form-group">
             <div class=" pull-left"> 
                       
                     <div class=" btn-group " >
               
                        <a data-toggle="dropdown" class="fa  fa-gears  " ></a>

                        <ul role="menu" class="dropdown-menu " >
                            <li><a ng-click="reporte()"><i class="fa fa-print"> </i> Libro Caja</a></li>
                        <li><a ng-click="reporteIngresos()"><i class="fa fa-print"> </i> Reporte Ingresos</a></li>                        
                        <li><a ng-click="reporteEgresos()"><i class="fa fa-print"> </i> Reporte Egresos</a></li>
                          <li><a ng-click="reporteBalanceGeneral()"><i class="fa fa-print"> </i> Reporte Balance General</a></li>

                        </ul>     
                        REPORTES I.E.
                
                  </div>
                   
              </div>
                   <div class=" col-lg-2"> </div>
                   
                   <div class=" btn-group col-lg-4 pull-right" >
                        <div class="col-lg-8">
                                   <select  class="form-control input-sm m-bot15" ng-model="value" ng-selected="seleccionar(value)"  >
                                      <option value="">Seleccionar Reporte</option>
                                      <option value="1">Libro Caja </option>
                                      <option value="2">Ingresos</option>
                                      <option value="3">Egresos</option>
                                      <option value="4">Balance General</option>


                                    </select>
                               </div>   
                        <div class=" col-lg-4">
                            <button class="btn btn-warning btn-sm" ng-click="verReporte()">Ver Reporte<i class="" ></i>  </button>
                        </div>
                </div>
                                                                       
                <div class=" input-group col-lg-4" >                                                                       
                    
                    <a class="col-md-2"> Fechas</a>
                                <div class="col-md-3">
                                    <div class="input-group input-large">
                                        <input type="date" class="form-control input-sm m-bot15 " ng-model="consulta.desde" />
                                        <span class="input-group-addon input-sm m-bot15">A</span>
                                        <input type="date"  class="form-control input-sm m-bot15 " ng-model="consulta.hasta" />
                                    </div>                                   
                                </div>
                </div>


                      
                  </div>
                
   
            </header>
           
           
                <div class="panel-body">
                    
                <div class="col-lg-12">
                    <form class="form-horizontal " method="get">  
                       
                <div class="form-panel" ng-show="seleccionar.flagReporteL">
                    <fieldset ><legend > 
                           
                            LIBRO CAJA
                            
                          
            <!--                     
                 <div class="btn-group pull-right " ng-click="cambiarMes(libroEstado.mesSel)"> 
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'0'" style="border:0px solid transparent; ;font-size: 60%; top: -3px">
                                     Enero
                                </label>
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'1'" style="border:0px solid transparent ;font-size: 60% ; top: -3px">
                                   Febrero
                                </label>
                                <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'2'" style="border:0px solid transparent ;font-size: 60%; top: -3px">
                                  Marzo
                                </label>
                                 <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'3'" style="border:0px solid transparent  ;font-size: 60%; top: -3px">
                                   Abril
                                </label>
                                 <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'4'" style="border:0px solid transparent  ;font-size: 60%; top: -3px">
                                     Mayo
                                </label>
                                 <label   class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'5'" style="border:0px solid transparent  ;font-size: 60%; top: -3px">
                                    Junio
                                </label>
                                 <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'6'" style="border:0px solid transparent ;font-size: 60%; top: -3px">
                                     Julio
                                </label>
                                 <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'7'" style="border:0px solid transparent ;font-size: 60%; top: -3px ">
                                    Agosto
                                </label>
                                 <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'8'" style="border:0px solid transparent  ;font-size: 60%; top: -3px">
                                    Septiembre
                                </label>
                                 <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'9'" style="border:0px solid transparent  ;font-size: 60%; top: -3px">
                                  Octubre
                                </label>
                                 <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'10'" style="border:0px solid transparent   ;font-size: 60%; top: -3px">
                                    Noviembre
                                </label>
                                 <label  class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'11'" style="border:0px solid transparent  ;font-size: 60%; top: -3px">
                                     Diciembre
                                </label>
                            </div>
          
                              -->   
                        
                        </legend>
                          <form class="form-horizontal " method="get">  
                              <div class="form-group">
                                    
                              </div>
<!--
                             <div class="form-group">

                                                    <div class="col-lg-4"> 
                                                     
                                                    </div>
                                                    <div class="col-lg-4">
                                                    <div class="form-group ">
                                                          
                                                    
                                                              
                                                              <div class="input-group m-bot15 ">  
                                                                         <span class="input-group-btn">
                                                                             <button class="btn btn-primary btn-sm" >Saldo {{libroEstado.mes |date:'MMMM'}}: </button></span>
                                                                                <span  class="form-control input-sm m-bot15 " style="text-align:center" > {{libroEstado.saldoMes |currency:'S/ ' :2 }}</span>
                                                                      </div>
                                                       
                                                    </div>
                                                    </div>
                                                   <div class="col-lg-0 "></div>
                                                    <div class="col-lg-4 ">
                                                        
                                                       
                                                                          <span class="input-group-btn ">
                                                                              <button class="btn btn-default btn-sm" > <span ><a>Debe: </a>{{libroEstado.debe |currency:' S/ ' :2 }}</span>   </button>
                                                                             <button class="btn btn-default btn-sm" > <span ><a>Haber: </a>{{libroEstado.haber |currency:' S/ ' :2 }}</span>   </button>
                                                                      
                                                                            </span>
                                                                     
                                                      
                                                    </div>

                                                 

                                                  
                                                                                                                                                                  
                                                </div>
-->
                                
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                       
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaLibroCaja" show-filter="false" >
                                <tr ng-show ="tablaLibroCaja.parameters().page==1">                                     
                                     <td  data-title="'N'" style="width: 40px;text-align:center">
                                        {{}}
                                    </td>
                                    <td data-title="'Fecha Operación'"  style="width: 40px;text-align:left">
                                        {{}}
                                    </td>
                                     <td  data-title="'Medio Pago'" style="width: 40px;text-align:center">
                                        {{}}
                                    </td>
                                    <td  data-title="'Descripcion Operación'"  style="width: 180px;text-align:left">
                                        <a> SALDO INICIAL AL {{ consulta.desde |date:'dd-MM-yyyy'}} </a>
                                    </td>
                                    <td data-title="'Razon Social'" style="width: 120px;text-align:left">
                                        {{}}
                                    </td>
                                     <td  data-title="'N° Doc.'" style="width: 50px;text-align:center">
                                        {{}}
                                    </td>
                                    
                                    
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                        <a>  {{saldoInicial |currency:'':2}} </a>
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                       {{}}
                                    </td>

                               <!--     <td   data-title="'Estado'" style="text-align: center;width:30px">
                                    </td>

                                    <td   data-title="'accion'" style="width: 80px">
                                        
                                    </td>
                                                                        -->
                                </tr>
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td rowspan="2" data-title="'N'" style="width: 40px;text-align:center">
                                        {{sm.i}}
                                    </td>
                                    <td  rowspan="2" data-title="'Fecha Operación'" style="width: 40px;text-align:left">
                                        {{sm.fecha | date:'dd/MM/yyyy'}}
                                    </td>
                                     <td rowspan="2" data-title="'Medio Pago'" style="width: 40px;text-align:center">
                                        {{sm.tipoPago.tipoPagoID}}
                                    </td>
                                    <td rowspan="2" data-title="'Descripcion Operación'"  style="width: 180px;text-align:left">
                                        {{sm.glosa}}
                                    </td>
                                    <td rowspan="2" data-title="'Razon Social'" style="width: 120px;text-align:left">
                                        {{sm.clienteProveedor.datos}}
                                    </td>
                                     <td rowspan="2" data-title="'N° Doc.'" style="width: 50px;text-align:center">
                                        {{sm.numeroD}}
                                    </td>
                                    
                                    
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{sm.debe.cuentaContableID}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{sm.debe.nombre}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                        {{sm.debe.importe  |currency:'':2}}
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                       {{}}
                                    </td>

                                <!--    <td  rowspan="2" data-title="'Estado'" style="text-align: center;width:30px">
                                        <span class="label label-mini" ng-class="{'label-info': sm.estado=='A','label-warning': sm.estado=='I'}">{{sm.estado}}</span>
                                    </td>

                                    <td  rowspan="2" data-title="'accion'" style="width: 80px">
                                        <button class="btn btn-primary btn-xs" ng-click="documentoAdj(sm)"><i class="fa fa-pencil" ></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="observacion(sm)"><i class="fa fa-trash-o " ></i></button>
                                    </td>
                                    -->
                                    
                                </tr>
                                
                                 <tr>
                                                                         
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{sm.haber.cuentaContableID}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{sm.haber.nombre}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                      {{}}
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                        {{sm.haber.importe |currency:'':2}}
                                    </td>

                                   
                                    
                                    
                                </tr>
                                </tbody>
                            </table>
                        </div>    

                        </div>
              </div>





                
            </form>  
                    </fieldset>
                           
                        </div>         
                        
                         <div class="form-panel " ng-show="seleccionar.flagReporteI">
                         
                          <form class="form-horizontal " method="get">  
                        <fieldset ><legend>MOVIMIENTO ECONOMICO</legend>
                           <div class="form-group">
                      <div class="adv-table editable-table ">

                      
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small " >
                               <thead>
                                <tr>
                                    <th style="width: 80px;text-align:center"> a) SALDO INICIAL AL <a>{{ consulta.desde |date:'dd-MM-yyyy'}}</a> </th>
                                    <th style="width: 60px;text-align:center">b) INGRESOS  </th>
                                    <th style="width: 60px;text-align:center">c) TOTAL INGRESOS (a+b)</th>
                                    <th style="width: 60px;text-align:center">d) TOTAL EGRESOS/GASTOS</th>
                                    <th style="width: 60px;text-align:center">e) SALDO ACTUAL (c-d)</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr>                                     
                                     <td style="width: 60px;text-align:center">
                                        {{saldoInicial |currency:' S/ ':2}}
                                    </td>
                                    <td style="width: 60px;text-align:center">
                                        {{totalIngreso.totalIngresos |currency:' S/ ':2}}
                                    </td>
                                     <td style="width: 60px;text-align:center">
                                         <strong>{{totalI |currency:' S/ ':2}}</strong>
                                    </td>
                                    <td  style="width: 60px;text-align:center">
                                        <strong>  {{totalEgreso.totalEgresos |currency:' S/ ':2}} </strong>
                                    </td>
                                    <td style="width: 60px;text-align:center">
                                         <a><strong>{{saldoA |currency:' S/ ':2}}</strong></a>
                                    </td>        
                                                                        
                                </tr>                               
                                </tbody>
                            </table>
                        </div>    

                        </div>
              </div>
            </fieldset >
            <fieldset ><legend>CLASIFICACION</legend>                
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                       
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaCuentasIngreso"  >
                                 
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td  data-title="'INGRESOS'" style="width: 200px;text-align:center">
                                        {{sm.nombre}}
                                    </td>
                                    <td   data-title="'Enero'"  style="width: 50px;text-align:right">
                                        {{sm.ene |currency:'':2}}
                                    </td>
                                    
                                    <td data-title="'Febrero'"  style="width: 50px;text-align:right">
                                        {{sm.feb |currency:'':2}}
                                    </td>
                                    <td data-title="'Marzo'" style="width: 50px;text-align:right">
                                        {{sm.mar |currency:'':2}}
                                    </td>
                                     <td  data-title="'Abril'" style="width: 50px;text-align:right">
                                        {{sm.abr |currency:'':2}}
                                    </td>
                                    
                                    
                                     <td data-title="'Mayo'" style="width: 50px;text-align:right">
                                        {{sm.may |currency:'':2}}
                                    </td>
                                     <td data-title="'Junio'" style="width: 50px;text-align:right">
                                        {{sm.jun |currency:'':2}}
                                    </td>
                                    <td data-title="'Julio'" style="width: 50px;text-align:right">
                                        {{sm.jul  |currency:'':2}}
                                    </td>
                                    <td data-title="'Agos.'" style="width: 50px;text-align:right">
                                       {{sm.ago |currency:'':2}}
                                    </td>
                                     <td data-title="'Set'" style="width: 50px;text-align:right">
                                       {{sm.sep |currency:'':2}}
                                    </td>
                                     <td data-title="'Oct.'" style="width: 50px;text-align:right">
                                       {{sm.oct |currency:'':2}}
                                    </td>
                                     <td data-title="'Nov.'" style="width: 50px;text-align:right">
                                       {{sm.nov |currency:'':2}}
                                    </td>
                                     <td data-title="'Dic.'" style="width: 50px;text-align:right">
                                       {{sm.dic |currency:'':2}}
                                    </td>
                                     <td data-title="'TOTAL'" style="width: 60;text-align:center">
                                       {{sm.total |currency:'S/ ':2}}
                                    </td>
                                                                                                                                           
                                </tr>
                                
                              
                                </tbody>
                                  <tr>                                     
                                     <td style="width: 200px;text-align:center">
                                        INGRESOS S/
                                    </td>
                                    <td   style="width: 50px;text-align:right">
                                        {{totalIngreso.Enero |currency:'':2}}
                                    </td>
                                    
                                    <td  style="width: 50px;text-align:right">
                                        {{totalIngreso.Febrero |currency:'':2}}
                                    </td>
                                    <td style="width: 50px;text-align:right">
                                        {{totalIngreso.Marzo |currency:'':2}}
                                    </td>
                                     <td   style="width: 50px;text-align:right">
                                        {{totalIngreso.Abril |currency:'':2}}
                                    </td>
                                    
                                    
                                     <td  style="width: 50px;text-align:right">
                                        {{totalIngreso.Mayo |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                        {{totalIngreso.Junio |currency:'':2}}
                                    </td>
                                    <td  style="width: 50px;text-align:right">
                                        {{totalIngreso.Julio  |currency:'':2}}
                                    </td>
                                    <td  style="width: 50px;text-align:right">
                                       {{totalIngreso.Agosto |currency:'':2}}
                                    </td>
                                     <td  style="width: 50px;text-align:right">
                                       {{totalIngreso.Septiembre |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                       {{totalIngreso.Octubre |currency:'':2}}
                                    </td>
                                     <td  style="width: 50px;text-align:right">
                                       {{totalIngreso.Noviembre |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                       {{totalIngreso.Diciembre |currency:'':2}}
                                    </td>
                                     <td  style="width: 60;text-align:center">
                                         <a>{{totalIngreso.totalIngresos |currency:'S/ ':2}}</a>
                                    </td>
                                                                                                                                           
                                </tr>
                                
                            </table>
                        </div>    

                        </div>
              </div>

            </fieldset >



                
            </form>  
                           
                        </div>     
                           
                        
                        
                         <div class="form-panel "ng-show="seleccionar.flagReporteE">
                        <form class="form-horizontal " method="get">  
                      
            <fieldset ><legend>CLASIFICACION</legend>                
                <div class="form-group">
                      <div class="adv-table editable-table ">

                       
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaCuentasEgreso" show-filter="false" >
                                 
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td  data-title="'GASTOS'" style="width: 200px;text-align:center">
                                        {{sm.nombre}}
                                    </td>
                                    <td   data-title="'Enero'"  style="width: 50px;text-align:right">
                                        {{sm.ene |currency:'':2}}
                                    </td>
                                    
                                    <td data-title="'Febrero'"  style="width: 50px;text-align:right">
                                        {{sm.feb |currency:'':2}}
                                    </td>
                                    <td data-title="'Marzo'" style="width: 50px;text-align:right">
                                        {{sm.mar |currency:'':2}}
                                    </td>
                                     <td  data-title="'Abril'" style="width: 50px;text-align:right">
                                        {{sm.abr |currency:'':2}}
                                    </td>
                                    
                                    
                                     <td data-title="'Mayo'" style="width: 50px;text-align:right">
                                        {{sm.may |currency:'':2}}
                                    </td>
                                     <td data-title="'Junio'" style="width: 50px;text-align:right">
                                        {{sm.jun |currency:'':2}}
                                    </td>
                                    <td data-title="'Julio'" style="width: 50px;text-align:right">
                                        {{sm.jul  |currency:'':2}}
                                    </td>
                                    <td data-title="'Agos.'" style="width: 50px;text-align:right">
                                       {{sm.ago |currency:'':2}}
                                    </td>
                                     <td data-title="'Set'" style="width: 50px;text-align:right">
                                       {{sm.sep |currency:'':2}}
                                    </td>
                                     <td data-title="'Oct.'" style="width: 50px;text-align:right">
                                       {{sm.oct |currency:'':2}}
                                    </td>
                                     <td data-title="'Nov.'" style="width: 50px;text-align:right">
                                       {{sm.nov |currency:'':2}}
                                    </td>
                                     <td data-title="'Dic.'" style="width: 50px;text-align:right">
                                       {{sm.dic |currency:'':2}}
                                    </td>
                                     <td data-title="'TOTAL'" style="width: 60;text-align:center">
                                       {{sm.total |currency:' S/ ':2}}
                                    </td>
                                                                                                                                           
                                </tr>
                                
                              
                                </tbody>
                                  <tr>                                     
                                     <td style="width: 200px;text-align:center">
                                        TOTAL GASTOS S/
                                    </td>
                                    <td   style="width: 50px;text-align:right">
                                        {{totalEgreso.Enero |currency:'':2}}
                                    </td>
                                    
                                    <td  style="width: 50px;text-align:right">
                                        {{totalEgreso.Febrero |currency:'':2}}
                                    </td>
                                    <td style="width: 50px;text-align:right">
                                        {{totalEgreso.Marzo |currency:'':2}}
                                    </td>
                                     <td   style="width: 50px;text-align:right">
                                        {{totalEgreso.Abril |currency:'':2}}
                                    </td>
                                    
                                    
                                     <td  style="width: 50px;text-align:right">
                                        {{totalEgreso.Mayo |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:left">
                                        {{totalEgreso.Junio |currency:'':2}}
                                    </td>
                                    <td  style="width: 50px;text-align:right">
                                        {{totalEgreso.Julio |currency:'':2}}
                                    </td>
                                    <td  style="width: 50px;text-align:right">
                                       {{totalEgreso.Agosto |currency:'':2}}
                                    </td>
                                     <td  style="width: 50px;text-align:right">
                                       {{totalEgreso.Septiembre |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                       {{totalEgreso.Octubre |currency:'':2}}
                                    </td>
                                     <td  style="width: 50px;text-align:right">
                                       {{totalEgreso.Noviembre |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                       {{totalEgreso.Diciembre |currency:'':2}}
                                    </td>
                                     <td  style="width: 60;text-align:center">
                                         <a><strong>{{totalEgreso.totalEgresos |currency:' S/ ':2}}</strong></a>
                                    </td>
                                                                                                                                           
                                </tr>
                                
                            </table>
                        </div>    

                        </div>
              </div>

            </fieldset >



                
            </form>  
                             
                        </div> 
                         <div class="form-panel "ng-show="seleccionar.flagReporteB">
                        <form class="form-horizontal " method="get">  
                        <fieldset ><legend>MOVIMIENTO ECONOMICO</legend>
                           <div class="form-group">
                      <div class="adv-table editable-table ">

                      
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "   >
                                <thead>
                                     <tr>                                     
                                     <th  style="width: 80px;text-align:center">
                                        a) SALDO INICIAL AL <a>{{ consulta.desde |date:'dd-MM-yyyy'}}
                                    </th>
                                    <th  style="width: 60px;text-align:center">
                                        b) INGRESOS  
                                    </th>
                                     <th  style="width: 60px;text-align:center">
                                        C) TOTAL INGRESOS (a+b)
                                    </th>
                                    <th  style="width: 60px;text-align:center">
                                        d) TOTAL EGRESOS/GASTOS
                                    </th>
                                    <th style="width: 60px;text-align:center">
                                        e) SALDO ACTUAL (c-d)
                                    </th>        
                                                                        
                                </tr> 
                                    
                                </thead>
                                  <tr>                                     
                                     <td  data-title="'a) SALDO INICIAL AL'" style="width: 60px;text-align:center">
                                        {{saldoInicial  |currency:' S/ ':2 }}
                                    </td>
                                    <td data-title="'b) INGRESOS  '" style="width: 60px;text-align:center">
                                        {{totalIngreso.totalIngresos  |currency:' S/ ':2}}
                                    </td>
                                     <td  data-title="'C) TOTAL INGRESOS (a+b)'" style="width: 60px;text-align:center">
                                         <strong>{{totalI |currency:' S/ ':2}}</strong>
                                    </td>
                                    <td  data-title="'d) TOTAL EGRESOS/GASTOS'"  style="width: 60px;text-align:center">
                                        <strong>  {{totalEgreso.totalEgresos  |currency:' S/ ':2}}</strong>
                                    </td>
                                    <td data-title="'e) SALDO ACTUAL (c-d)'" style="width: 60px;text-align:center">
                                        <a><strong>{{saldoA |currency:' S/ ':2}}</strong></a>
                                    </td>        
                                                                        
                                </tr>                               
                            </table>
                        </div>    

                        </div>
              </div>
            </fieldset >
            <fieldset ><legend>CLASIFICACION</legend>                
                <div class="col-lg-6">
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                       
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaCuentasIngreso" show-filter="false" >
                                 
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td  data-title="'INGRESOS'" style="width: 200px;text-align:center">
                                        {{sm.nombre}}
                                    </td>
                                    
                                    
                                     <td data-title="'TOTAL S/'" style="width: 60;text-align:right">
                                       {{sm.total |currency:' S/ ':2}}
                                    </td>
                                                                                                                                           
                                </tr>
                                
                              
                                </tbody>
                                  <tr>                                     
                                     <td style="width: 200px;text-align:center">
                                        INGRESOS S/
                                    </td>
                                    <td   style="width: 50px;text-align:right">
                                        <a> {{totalIngreso.totalIngresos |currency:' S/ ':2}}</a>
                                    </td>                                                                      
                                                                                                                                           
                                </tr>
                                
                            </table>
                        </div>    

                        </div>
              </div>
                </div>
                <div class="col-lg-6" >
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                       
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaCuentasEgreso" show-filter="false" >
                                 
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td  data-title="'EGRESOS'" style="width: 200px;text-align:center">
                                        {{sm.nombre}}
                                    </td>
                                    
                                    
                                     <td data-title="'TOTAL S/'" style="width: 60;text-align:right">
                                       {{sm.total |currency:' S/ ':2}}
                                    </td>
                                                                                                                                           
                                </tr>
                                
                              
                                </tbody>
                                  <tr>                                     
                                     <td style="width: 200px;text-align:center">
                                        TOTAL EGRESOS S/
                                    </td>
                                    <td   style="width: 50px;text-align:right">
                                        <a> {{totalEgreso.totalEgresos |currency:' S/ ':2}}</a>
                                    </td>                                                                      
                                                                                                                                           
                                </tr>
                                
                            </table>
                        </div>    

                        </div>
              </div>
                </div>

            </fieldset >



                
            </form>  
                        </div> 
            </form>       
                                     
                                                   
                    
            </div>
            </div>
        </section>
    </div>
</div>


                          
                   
                       
