<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Detalle Competencia</h4>
            </header>
            <div class="panel-body">
                <div class="form-horizontal" >
                    <div class="form-group" >
                        <label class="col-sm-1 control-label">Competencia:</label>
                        <div class="col-sm-4">
                            <span>{{ctrl.com.nom}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <span class="label">Competencia:</span>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <fieldset >
                            <header class="panel-heading">
                                <h4 style="display:inline;line-height: 1.9">Capacidades : </h4>
                            </header>
                            <div class="panel-body">
                                <table ng-table="ctrl.tablaCapacidades" class="table table-bordered table-hover table-condensed editable-table" >
                                    <colgroup>
                                        <col width="40%" />
                                        <col width="49%" />
                                        <col width="11%" />
                                    </colgroup>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>
                                            <button class="btn btn-primary btn-xs" ng-disabled="ctrl.isSavingCap" ng-click="ctrl.nuevaCapacidad()">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                            </button>
                                        </th>
                                    </tr>
                                    <tr  ng-repeat="row in $data" ng-form="rowFormCapacidad" >
                                        <td ng-form="nom" ng-click="ctrl.mostrarIndicadores(row)" ng-switch="row.edit">
                                            <span ng-switch-default>{{row.nom}}</span>
                                            <div class="controls"   ng-switch-when="true">
                                                <input type="text" name="nom" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                            </div>
                                        </td>
                                        <td ng-form="des" ng-click="ctrl.mostrarIndicadores(row)" ng-switch="row.edit">
                                            <span  ng-switch-default>{{row.des}}</span>
                                            <div class="controls"   ng-switch-when="true">
                                                <input type="text" name="des" ng-model="row.des" class="editable-input form-control input-sm" required />
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary btn-xs" ng-if="!row.edit" ng-click="ctrl.editarElemento(row)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button class="btn btn-primary btn-xs" ng-if="row.edit" ng-click="ctrl.aceptarEdicionCap(row)">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="!row.edit" ng-click="ctrl.eliminarCapacidad($event,row)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="row.edit" ng-click="ctrl.cancelarEdicionCap(row)">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset>
                            <header class="panel-heading">
                                <h4 style="display:inline;line-height: 1.9">Indicadores de capacidad : </h4>
                            </header>
                            <div class="panel-body">
                                <table ng-table="ctrl.tablaIndicadores" class="table table-bordered table-hover table-condensed editable-table" >
                                    <colgroup>
                                        <col width="77%" />
                                        <col width="23%" />
                                    </colgroup>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>
                                            <button class="btn btn-primary btn-xs" ng-disabled = "ctrl.isSaving" ng-click="ctrl.nuevoIndicador()">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                            </button>
                                        </th>
                                    </tr>
                                    <tr  ng-repeat="row in $data" ng-form="rowFormCapacidad">
                                        <td ng-form="nom" ng-switch="row.edit">
                                            <span ng-switch-default>{{row.nom}}</span>
                                            <div class="controls"   ng-switch-when="true">
                                                <input type="text" name="nom" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary btn-xs" ng-if="!row.edit" ng-click="ctrl.editarElemento(row)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button class="btn btn-primary btn-xs" ng-if="row.edit" ng-click="ctrl.aceptarEdicion(row)">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="!row.edit" ng-click="ctrl.eliminarIndicador($event,row)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="row.edit" ng-click="ctrl.cancelarEdicion(row)">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>