<div class="row"><div class="col-lg-12">
<script type="text/ng-template" id="app/ng-table/filters/checkbox.html">
    <input type="checkbox" ng-model="seleccionar" ng-click="seleccionarTodos(seleccionar,name)"/>
</script>
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="NUEVOS" >
    <section class="panel" ng-init="listarAreas(usuMaster.organizacion.organizacionID)">
    
    <div class="panel-body" ng-init="buscarHistorialNuevos(usuMaster.area.organizacionID,usuMaster.area.areaID)">
        
        <div class="form-horizontal" >
            <div class="form-group" >
                <div class="col-sm-offset-5 col-sm-4">
                    <button class="btn btn-success " type="button" ng-click="buscarHistorialNuevos(usuMaster.area.organizacionID,usuMaster.area.areaID)"><i class="fa fa-search" ></i> buscar nuevos</button>
                </div>
            </div>
        </div><hr/>        
        <div class="tabla-responsiva"><table ng-table="miTablaN" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="20px" /><col width="100px" /><col width="20%" /><col width="170px" /><col width="180px" /><col width="180px" /><col width="auto" /><col width="65px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="''" filter="{ miTablaN: 'checkbox'}">
                    <input type="checkbox" ng-model="o.selec" />
                </td>
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{o.codigo}}</td>
                <td data-title="'Tramite'" filter="{ tipoTramiteID: 'select'}" filter-data="tipoTramites" sortable="'tipoTramiteID'" style="text-align: center">
                    {{o.nombreTramite}}
                </td>
                <td data-title="'Fecha'" filter="{ fechaEnvio: 'text'}" sortable="'fechaEnvio'" >{{o.fechaEnvio}}</td>
                <td data-title="'Prioridad'" filter="{ prioridadID: 'select'}" filter-data="prioridades" sortable="'prioridadID'" style="text-align: center">
                    {{o.nombrePrioridad}}
                </td>
                <td data-title="'Estado'" filter="{ estadoID: 'select'}" filter-data="estados" sortable="'estadoID'" style="text-align: center">
                    {{o.estado}}
                </td>
                <td data-title="'Tiempo'">
                    <progress-bar parcial="o.tiempo" total="o.duracion" tipo="D"></progress-bar>
                </td>
                <td data-title="'accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="verDetalle(o)" title="ver detalles"><i class="fa fa-eye" ></i></button>
                </td>
                
            </tr>
        </table></div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="prepararRecepcion()"><i class="fa fa-plus" ></i> Recepcionar</button>
        </div>
    </div>

    </section>
    </uib-tab>
    <uib-tab index="1" heading="RECIBIDOS" >
        <section class="panel"><div class="panel-body" ng-init="buscarHistorialRecibidos(usuMaster.area.organizacionID,usuMaster.area.areaID);">
            
        <div class="form-horizontal" >
            <div class="form-group" >
                <div class="col-sm-offset-5 col-sm-4">
                    <button class="btn btn-success " type="button" ng-click="buscarHistorialRecibidos(usuMaster.area.organizacionID,usuMaster.area.areaID)"><i class="fa fa-search" ></i> buscar recepcionados</button>
                </div>
            </div>
        </div><hr/>
        <div class="tabla-responsiva"><table ng-table="miTablaR" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="100px" /><col width="20%" /><col width="170px" /><col width="180px" /><col width="180px" /><col width="auto" /><col width="125px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{o.codigo}}</td>
                <td data-title="'Tramite'" filter="{ tipoTramiteID: 'select'}" filter-data="tipoTramites" sortable="'tipoTramiteID'" style="text-align: center">
                    {{o.nombreTramite}}
                </td>
                <td data-title="'Fecha'" filter="{ fechaRecepcion: 'text'}" sortable="'fechaRecepcion'" >{{o.fechaRecepcion}}</td>
                <td data-title="'Prioridad'" filter="{ prioridadID: 'select'}" filter-data="prioridades" sortable="'prioridadID'" style="text-align: center">
                    {{o.nombrePrioridad}}
                </td>
                <td data-title="'Estado'" filter="{ estadoID: 'select'}" filter-data="estados" sortable="'estadoID'" style="text-align: center">
                    {{o.estado}}
                </td>
                <td data-title="'Tiempo'">
                    <progress-bar parcial="o.tiempo" total="o.duracion" tipo="D"></progress-bar>
                </td>
                <td data-title="'accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="verDetalle(o)" title="ver detalles"><i class="fa fa-eye" ></i></button>                    
                    <button class="btn btn-danger btn-xs" ng-hide="o.historialID<2" ng-click="prepararDevolver(o)" title="devolver expediente"><i class="fa fa-reply" ></i></button>
                    <button class="btn btn-success btn-xs" ng-click="prepararDerivar(o)" title="derivar expediente"><i class="fa fa-share" ></i></button>
                    <button class="btn btn-warning btn-xs" ng-click="prepararFinalizar(o)" title="finalizar expediente"><i class="fa fa-sign-out" ></i></button>
                </td>
            </tr>
            </tr>
        </table></div>
                
        </div></section>
    </uib-tab>
    <uib-tab index="2" heading="DERIVADOS" >
        <section class="panel"><div class="panel-body" ng-init="buscarHistorialDerivados(usuMaster.area.organizacionID,usuMaster.area.areaID)">
            
        <div class="form-horizontal" >
            <div class="form-group" >
                <div class="col-sm-offset-5 col-sm-4">
                    <button class="btn btn-success " type="button" ng-click="buscarHistorialDerivados(usuMaster.area.organizacionID,usuMaster.area.areaID)"><i class="fa fa-search" ></i> buscar recepcionados</button>
                </div>
            </div>
        </div><hr/>
        <div class="tabla-responsiva"><table ng-table="miTablaD" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="100px" /><col width="20%" /><col width="170px" /><col width="180px" /><col width="180px" /><col width="auto" /><col width="80px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{o.codigo}}</td>
                <td data-title="'Tramite'" filter="{ tipoTramiteID: 'select'}" filter-data="tipoTramites" sortable="'tipoTramiteID'" style="text-align: center">
                    {{o.nombreTramite}}
                </td>
                <td data-title="'Fecha'" filter="{ fechaEnvio: 'text'}" sortable="'fechaEnvio'" >{{o.fechaEnvio}}</td>
                <td data-title="'Prioridad'" filter="{ prioridadID: 'select'}" filter-data="prioridades" sortable="'prioridadID'" style="text-align: center">
                    {{o.nombrePrioridad}}
                </td>
                <td data-title="'Area Destino'" sortable="'areaID'" style="text-align: center">
                    {{o.area}}
                </td>
                <td data-title="'Tiempo'">
                    <progress-bar parcial="o.tiempo" total="o.duracion" tipo="D"></progress-bar>
                </td>
                <td data-title="'accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="verDetalle(o)" title="ver detalles"><i class="fa fa-eye" ></i></button>
                </td>
            </tr>
            </tr>
        </table></div>
        
            
       
        <div align="center" style="display: flex;margin:0 auto">
            <select class="form-control" ng-model="areaIDCargo" >
                <option value=""></option>
                <option ng-repeat="a in areas" value="{{a.areaID}}">{{a.nombre}}</option>
            </select>
            <button ng-disabled="!areaIDCargo" class="btn btn btn-primary" ng-click="generarCargo(usuMaster.area.nombre,areaIDCargo)"><i class="fa fa-plus" ></i> Generar Cargo</button>
        </div>
                
        </div></section>
    </uib-tab>
    <uib-tab index="3" heading="FINALIZADOS" ng-init="buscarHistorialFinalizados(usuMaster.area.organizacionID,usuMaster.area.areaID);">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >  
            <div class="form-group" >
                <div class="col-sm-offset-5 col-sm-4">
                    <button class="btn btn-success " type="button" ng-click="buscarHistorialFinalizados(usuMaster.area.organizacionID,usuMaster.area.areaID)"><i class="fa fa-search" ></i> buscar finalizados</button>
                </div>
            </div>
        </div><hr/>
        <div class="tabla-responsiva"><table ng-table="miTablaF" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="100px" /><col width="25%" /><col width="170px" /><col width="200px" /><col width="auto" /><col width="95px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{o.codigo}}</td>
                <td data-title="'Tramite'" filter="{ tipoTramiteID: 'select'}" filter-data="tipoTramites" sortable="'tipoTramiteID'" style="text-align: center">
                    {{o.nombreTramite}}
                </td>
                <td data-title="'Fecha'" filter="{ fechaRecepcion: 'text'}" sortable="'fechaRecepcion'" >{{o.fechaRecepcion}}</td>
                <td data-title="'Estado'" filter="{ estadoID: 'select'}" filter-data="estados" sortable="'estadoID'" style="text-align: center">
                    {{o.estado}}
                </td>
                <td data-title="'Tiempo'">
                    <progress-bar parcial="o.tiempo" total="o.duracion" tipo="D"></progress-bar>
                </td>
                <td data-title="'accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="verDetalleConDocumentos(o)" title="ver detalles"><i class="fa fa-eye" ></i></button>
                </td>
            </tr>
        </table></div>
                
        </div></section>
    </uib-tab>
</uib-tabset>

</div></div>

<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">EXPEDIENTE</h4>
      </div>
      <div class="modal-body resize-modal">
          <div class="form-horizontal style-form">
          <div class="form-group" >
            <label class="col-sm-2 control-label">Codigo</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{expedienteSel.codigo}}</p>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-2 control-label">Tipo Tramite</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{expedienteSel.nombreTramite}}</p>
            </div>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.modo?'interno':'externo'}}</p>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-2 control-label">Prioridad</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.nombrePrioridad}}</p>
            </div>
            <label class="col-sm-2 control-label">Folios</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.folios}}</p>
            </div>
          </div>
          </div>
          <div style="text-align: center"><strong>HISTORIAL DE RUTAS</strong></div>
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 30px">N</th>                  
                  <th style="width: 30%">Area</th>
                  <th style="width: 30%">Responsable</th>
                  <th style="text-align: center; width: 150px"">Estado</th>
                  <th>Observacion</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="h in expedienteSel.historial">
                    <td>{{$index + 1}}</td>                    
                    <td >{{h.area}}</td>
                    <td >{{h.responsable}}</td>
                    <td style="text-align: center">{{h.estado}}</td>
                    <td >{{h.observacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div style="text-align: center"><strong>DOCUMENTOS</strong></div>
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 50px">N</th>                  
                  <th style="width: 20%">Documento</th>
                  <th>Observacion</th>
                  <th style="width: 25%">Archivo Adjunto</th>
                  <th style="text-align: center; width: 80px"">Estado</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="d in expedienteSel.documentos">
                    <td>{{$index + 1}}</td>                    
                    <td >{{d.tipoDocumento}}</td>                    
                    <td >{{d.observacion}}</td>
                    <td style="word-break: break-all;"><view-file url="{{d.url}}" nombre="d.nombreArchivo" archivo> </view-file></td>
                    <td style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-warning': d.historialID,'label-info': !d.historialID}">{{d.historialID?'generado':'requisito'}}</span>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalRecepcionar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">RECEPCION EXPEDIENTE</h4>
      </div>
      <div class="modal-body resize-modal">
          
          <div style="text-align: center"><strong>Expedientes Seleccinados</strong></div>
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 20px">N</th>
                  <th style="width: 25%">Codigo Expediente</th>
                  <th style="width: 25%">Tipo Tramite</th>
                  <th>Observacion</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="h in expedientesSel">
                    <td>{{$index + 1}}</td>
                    <td >{{h.codigo}}</td>
                    <td >{{h.nombreTramite}}</td>
                    <td >{{h.observacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="alert alert-warning " style="margin-bottom: 0px;">
              <strong>Confirmacion!</strong> Seguro que desea recepcionar los expedientes seleccinados.
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" ></i> Cancelar</button>
        <button class="btn btn btn-primary" ng-click="recepcionar(usuMaster.usuario.usuarioID)"><i class="fa fa-check" ></i> Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalDerivar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">DERIVAR EXPEDIENTE</h4>
      </div>
      <div class="modal-body resize-modal">
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 20px">N</th>
                  <th style="width: 25%">Codigo Expediente</th>
                  <th style="width: 25%">Tipo Tramite</th>
                  <th>Observacion</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="h in expedientesSel">
                    <td>{{$index + 1}}</td>
                    <td >{{h.codigo}}</td>
                    <td >{{h.nombreTramite}}</td>
                    <td >{{h.observacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="form-horizontal style-form" ><fieldset >
          <legend>Destino</legend>
          <div class="form-group" >
            <div class="col-md-12">
                <ul class="breadcrumbs-alt mini">
                    <li ng-repeat="r in rutas">
                        <a ng-class="{'current':tupa? r.areaOriID == usuMaster.area.tipoID : r.areaOriID == usuMaster.area.areaID}">{{r.areaOri.nombre}}</a>
                    </li>
                </ul>
            </div>
            <label class="col-sm-3 control-label">Area Destino</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="areaID" ng-change="verUsuarios(areaID)">
                    <option value=""></option>
                    <option ng-hide="tupa? a.tipoAreaID == usuMaster.area.tipoID : a.areaID == usuMaster.area.areaID" ng-repeat="a in areas" value="{{a.areaID}}">{{a.nombre}}</option>
                </select>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-3 control-label">Responsable</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="usuarioID" >
                    <option value=""></option>
                    <option ng-repeat="u in usuarios" value="{{u.usuarioID}}">{{u.nombre}} - {{u.rol}}</option>
                </select>
            </div>
          </div>          
          </fieldset>
          <fieldset >
          <legend>Documentos</legend>
              
          <div class="tabla-responsiva" style="max-height: 120px;border-top: 1px solid #ddd;margin-bottom: 0px;">
          <table class="table peque" style="margin-bottom: 0">
              <thead>
                <tr>
                    <th style="width:15px">#</th><th style="width:30%;">Documento</th><th style="width:auto">Observacion</th><th style="width:30%;">Adjunto</th><th style="width:66px">Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in documentos">
                    <td>{{$index+1}}</td>
                    <td>
                        <span ng-hide="d.edi" >{{d.nombre}}</span>
                        <span ng-show="d.edi" ><select class="form-control input-table" ng-model="d.copia.tipoDocumentoID" ng-options="td.tipoDocumentoID as td.nombre for td in tipoDocumentos"></select></span>
                    </td>
                    <td>
                        <span ng-hide="d.edi" >{{d.descripcion}}</span>
                        <span ng-show="d.edi" ><input ng-model="d.copia.descripcion"/></span>
                    </td>
                    <td style="word-break: break-all;">
                        <span  ng-hide="d.edi" >{{d.nombreArchivo}}</span>
                        <span ng-show="d.edi" ><input-file nombre="d.copia.nombreArchivo" archivo="r.copia.archivo"></input-file></span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="editarDocumento($index,d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                        <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarDocumento($index,d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>                          
                    </td>
                </tr>
          </table></div>
          <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
            <tr>
                <td style="width:15px">+</td>
                <td style="width:30%">
                    <select class="form-control input-table" ng-model="documento.tipoDocumentoID" ng-options="td.tipoDocumentoID as td.nombre for td in tipoDocumentos"></select>
                </td>
                <td style="width:auto"><input type="text" class="form-control input-table" ng-model="documento.descripcion"></td>
                <td style="width:30%;word-break: break-all;"><input-file nombre="documento.nombreArchivo" archivo="documento.archivo"></input-file></td>
                <td style="width:66px">
                    <button class="btn btn-success btn-xs" ng-click="agregarDocumento()" title="agregar requisito"><i class="fa fa-plus" ></i></button>
                </td>
            </tr>
          </table><br/>
          <div class="form-group" >
            <label class="col-sm-3 control-label">Comentario</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="observacion" >
            </div>
          </div>
          </fieldset> 
          </div>
          
          <div ng-if="seDeriva" class="alert alert-warning " style="margin-bottom: 0px;">
              <strong>Confirmacion!</strong> Seguro que desea derivar el expediente seleccionado.
          </div>
          <div ng-if="!seDeriva" class="alert alert-danger " style="margin-bottom: 0px;">
              <strong>Advertencia!</strong> Este Expediente debe finalizar en esta area, Esta seguro que lo derivara.
          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" ></i> Cancelar</button>
        <button class="btn btn btn-primary" ng-click="derivar()"><i class="fa fa-check" ></i> Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalDevolver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">DEVOLVER EXPEDIENTE</h4>
      </div>
      <div class="modal-body resize-modal" >          
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 20px">N</th>
                  <th style="width: 25%">Codigo Expediente</th>
                  <th style="width: 25%">Tipo Tramite</th>
                  <th>Observacion</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="h in expedientesSel">
                    <td>{{$index + 1}}</td>
                    <td >{{h.codigo}}</td>
                    <td >{{h.nombreTramite}}</td>
                    <td >{{h.observacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>          
          <div class="form-horizontal style-form" >
          <div class="form-group" >
            <label class="col-sm-3 control-label">Area Anterior</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" value="{{historialAnterior.area}}" disabled>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-3 control-label">Responsable</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" value="{{historialAnterior.responsable}}" disabled>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-3 control-label">Observacion</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="historialAnterior.observacion" >
            </div>
          </div>
          </div>
          <div class="alert alert-warning " style="margin-bottom: 0px;">
              <strong>Confirmacion!</strong> Seguro que desea devolver el expediente a su area anterior.
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" ></i> Cancelar</button>
        <button class="btn btn btn-primary" ng-click="devolver()"><i class="fa fa-check" ></i> Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalFinalizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">FINALIZAR EXPEDIENTE</h4>
      </div>
      <div class="modal-body resize-modal">          
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 20px">N</th>
                  <th style="width: 25%">Codigo Expediente</th>
                  <th style="width: 25%">Tipo Tramite</th>
                  <th>Observacion</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="h in expedientesSel">
                    <td>{{$index + 1}}</td>
                    <td >{{h.codigo}}</td>
                    <td >{{h.nombreTramite}}</td>
                    <td >{{h.observacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>   
          
          
          <div class="form-horizontal style-form" >
              
          <div style="text-align: center"><strong>Documentos de Respuesta</strong></div>
              
          <div class="tabla-responsiva" style="max-height: 120px;border-top: 1px solid #ddd;margin-bottom: 0px;">
          <table class="table peque" style="margin-bottom: 0">
              <thead>
                <tr>
                    <th style="width:15px">#</th><th style="width:30%;">Documento</th><th style="width:auto">Observacion</th><th style="width:30%;">Adjunto</th><th style="width:66px">Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in documentos">
                    <td>{{$index+1}}</td>
                    <td>
                        <span ng-hide="d.edi" >{{d.nombre}}</span>
                        <span ng-show="d.edi" ><select class="form-control input-table" ng-model="d.copia.tipoDocumentoID" ng-options="td.tipoDocumentoID as td.nombre for td in tipoDocumentos"></select></span>
                    </td>
                    <td>
                        <span ng-hide="d.edi" >{{d.descripcion}}</span>
                        <span ng-show="d.edi" ><input ng-model="d.copia.descripcion"/></span>
                    </td>
                    <td style="word-break: break-all;">
                        <span  ng-hide="d.edi" >{{d.nombreArchivo}}</span>
                        <span ng-show="d.edi" ><input-file nombre="d.copia.nombreArchivo" archivo="r.copia.archivo"></input-file></span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="editarDocumento($index,d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                        <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarDocumento($index,d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>                          
                    </td>
                </tr>
          </table></div>
          <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
            <tr>
                <td style="width:15px">+</td>
                <td style="width:30%">
                    <select class="form-control input-table" ng-model="documento.tipoDocumentoID" ng-options="td.tipoDocumentoID as td.nombre for td in tipoDocumentos"></select>
                </td>
                <td style="width:auto"><input type="text" class="form-control input-table" ng-model="documento.descripcion"></td>
                <td style="width:30%;word-break: break-all;"><input-file nombre="documento.nombreArchivo" archivo="documento.archivo"></input-file></td>
                <td style="width:66px">
                    <button class="btn btn-success btn-xs" ng-click="agregarDocumento()" title="agregar requisito"><i class="fa fa-plus" ></i></button>
                </td>
            </tr>
          </table><br/>
              
          <div class="form-group" >
            <label class="col-sm-3 control-label">Observacion Final</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="observacion" >
            </div>
          </div>
              
          </div>
             
              
          
          <div class="alert alert-warning " style="margin-bottom: 0px;">
              <strong>Confirmacion!</strong> Seguro que desea finalizar el expediente. La fecha de entrega sera apartir de: <b>{{hoy}}</b>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" ></i> Cancelar</button>
        <button class="btn btn btn-primary" ng-click="finalizar()"><i class="fa fa-check" ></i> Aceptar</button>
      </div>
    </div>
  </div>
</div>
