<div class="row"><div class="col-lg-12">
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="EXPEDIENTES POR AREA" >
    <section class="panel">
    
    <div class="panel-body" >        
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" >
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graExpedienteArea" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
    </div>

    </section>
    </uib-tab>
    <uib-tab index="1" heading="EXPEDIENTES POR TRABAJADOR" >
    <section class="panel">
    
    <div class="panel-body" >        
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID2" ng-change="listarAreas(busqueda.orgID2)">
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.areID" >
                        <option value="0"></option>
                        <option ng-repeat="o in areas" value="{{o.areaID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica4()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graExpedienteTrab" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico4()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
    </div>

    </section>
    </uib-tab>
    <uib-tab index="2" heading="EXPEDIENTES POR TIPO">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" >
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica2()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graTipoTramite" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico2()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
    <uib-tab index="3" heading="TOTAL RESUMEN">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica3()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabla-responsiva"><table ng-table="tabla" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="auto" /><col width="150px" /><col width="150px" /><col width="150px" />
            </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                <td data-title="'Organizacion'" filter="{ organizacion: 'text'}" sortable="'organizacion'">{{o.organizacion}}</td>
                <td data-title="'Expedientes'" filter="{ expedientes: 'text'}" sortable="'expedientes'" style="text-align: center">{{o.expedientes}}</td>
                <td data-title="'Finalizados'" filter="{ finalizados: 'text'}" sortable="'finalizados'" style="text-align: center">{{o.finalizados}}</td>
                <td data-title="'Entregados'" filter="{ entregados: 'text'}" sortable="'entregados'" style="text-align: center">{{o.entregados}}</td>
            </tr>
        </table></div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico3()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
</uib-tabset>

</div></div>
