<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <header class="panel-heading">
              
                <h4 style="display:inline;line-height: 1.9">Configuracion Equivalencia de Notas</h4>
            </header>
            <div class="panel-body">
                <div class="form-horizontal" >
                    <div class="form-group" ng-init="listar_tipos_notas()">
                        <table class="table table-bordered table-hover table-condensed editable-table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">NOTA LITERAL</th>
                                    <th class="text-center" style="vertical-align: top; text-align: justify"  colspan="2">NOTA NUMERAL</th>
                                    <th style="vertical-align: middle;" class="text-center" rowspan="2">ACCION</th>
                                </tr>
                                <tr>
                                    <th>.</th>
                                    <th>Nota Minima</th>
                                    <th>Nota Maxima</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                             <tr ng-repeat="tipo_nota in tipos_notas">
                                <th>{{tipo_nota.lit}}</th>
                                <td> <input   type="text" class="form-control" maxlength="2" ng-disabled="true" ng-model="tipo_nota.min"> </td>
                                <td> <input   type="text" class="form-control" maxlength="2" ng-disabled="true" ng-model="tipo_nota.max"> </td>      
     
                                <th>
                                    <button class="btn btn-primary btn-sm" ng-click="editar_tipo_nota(tipo_nota)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="btn btn-warning btn-sm" ng-click="actualizar_equivalencia_nota(usuMaster.usuario.ID,'E')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning col-sm-offset-10" ng-click="agregar_tipo_nota()">Registrar</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modaleditarequivalencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">EDITAR CONFIGURACION NOTA</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-panel">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nota Literal : </label>
                                <div class="col-sm-6 checkbox" style="display: inline-block">
                                    <input type="text" maxlength="2" class="form-control" ng-model="editar_nota.lit">   
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nota Numeral Minima : </label>
                                <div class="col-sm-6 checkbox" style="display: inline-block">
                                    <input type="text" class="form-control" ng-model="editar_nota.min">   
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nota Numeral Maxima : </label>
                                <div class="col-sm-6 checkbox" style="display: inline-block">
                                    <input type="text" class="form-control" ng-model="editar_nota.max">   
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Descripcion : </label>
                                <div class="col-sm-6 checkbox" style="display: inline-block">
                                    <input type="text" class="form-control" ng-model="editar_nota.des">   
                                </div>
                            </div>
                            
                            <div class="form-group">
                                 <button type="submit" class="btn btn-warning col-sm-offset-10" ng-click="actualizar_equivalencia_nota(usuMaster.usuario.ID,'A')">Actualizar</button>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



<div class="modal fade" id="modalregistrarequivalencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">REGISTRAR CONFIGURACION NOTA</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-panel">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nota Literal : </label>
                                <div class="col-sm-6 checkbox" style="display: inline-block">
                                    <input type="text" maxlength="2" class="form-control" ng-model="editar_nota.lit">   
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nota Numeral Minima : </label>
                                <div class="col-sm-6 checkbox" style="display: inline-block">
                                    <input type="text" class="form-control" ng-model="editar_nota.min">   
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nota Numeral Maxima : </label>
                                <div class="col-sm-6 checkbox" style="display: inline-block">
                                    <input type="text" class="form-control" ng-model="editar_nota.max">   
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Descripcion : </label>
                                <div class="col-sm-6 checkbox" style="display: inline-block">
                                    <input type="text" class="form-control" ng-model="editar_nota.des">   
                                </div>
                            </div>
                            
                            <div class="form-group">
                                 <button type="submit" class="btn btn-warning col-sm-offset-10" ng-click="actualizar_equivalencia_nota(usuMaster.usuario.ID,'R')">Registrar</button>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>